/* ===================================================
FLX GRID
=================================================== */


$flx-slug: flx !default;

// mixins
@mixin flx-col(){
	// background: rgba(cyan, .1);
	padding: 0 1rem;
	flex: 1;
	width: 100%;
	background-clip: content-box;
}

%flx {
	@include flx-col();
}

.flx {
	@extend %flx;
}

@mixin loop-grid-columns($columns, $class) {
	@for $i from 1 through $columns {

		.#{$flx-slug}-#{$class}-#{$i} {
			@extend %flx;
			min-width: percentage(($i / $grid-columns));
			max-width: percentage(($i / $grid-columns));
		}

	}
}

@mixin make-grid($class) {
	@include loop-grid-columns($grid-columns, $class);
}

@include make-grid(xs);

@media (min-width: $screen-sm-min) {
	@include make-grid(sm);
}

@media (min-width: $screen-md-min) {
	@include make-grid(md);
}

@media (min-width: $screen-lg-min) {
	@include make-grid(lg);
}

.flx-full {
	@extend %flx;
	width: 100%;
}

.flx-group {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -.5rem;
	align-items: flex-start;
}

.flx-group--centered {
	justify-content: center;
}

.flx-group--end {
	justify-content: center;
}

//visual helper grid
.grid {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	height: 100%;
	padding: 0 .5rem;
	max-width: $content-container-max;

	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	z-index: 9999;
	pointer-events: none;

	body:hover & {
		visibility: hidden;
		opacity: 0;
	}
}

.grid, .grid__col, .grid__inner {
	height: 100%;
}

.grid__col {
	flex: 1 0 auto;
	min-width: (100% / 12);
	padding: 0 1rem;

	@media (max-width: 600px) {
		min-width: (100% / 6);
	}
}

.grid__inner {
	background: rgba(hotpink, .33);
	border: solid rgba(hotpink, .4);
	border-width: 0 1px;
}