<div class="projects-wrapper">
	<section id="section-projects" class="section projects">
		<div class="container">
			<header class="section__header">
				<h2>Projects</h2>
				<p>Überschrift nach Links schieben, als zurückbutton! Dolorem eius ea fugiat consectetur vero suscipit aliquid a quae quidem explicabo consequuntur expedita cupiditate totam facilis, temporibus aspernatur voluptatem ratione iure.</p>
			</header>

			<div class="flx-group project-teasers">
				<div class="flx--6°xs flx--6°sm flx--4°md">
					<a href="/projects/deutschesee" class="project-teaser">
						<div class="project-teaser__media">
							<img src="/media/teaser-dsee.jpg" alt="Deutsche See Webseite">
						</div>
						<div class="project-teaser__desc">
							<h3>
								Deutsche See
							</h3>
							<ul class="project-teaser__services">
								<li>Responsive Design</li>
								<li>FrontEnd Development Lead</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="flx--6°xs flx--6°sm flx--4°md">
					<a href="/projects/siemens" class="project-teaser">
						<div class="project-teaser__media">
							{{!-- <img src="/media/teaser-siemens.jpg" alt="Siemens Webseite" /> --}}
							<img src="/media/teaser-siemens-map.jpg" alt="Siemens Webseite" />
						</div>
						<div class="project-teaser__desc">
							<h3>
								<em>Maps & Filter</em>
								Siemens Hausgeräte
							</h3>
							<ul class="project-teaser__services">
								<li>FrontEnd Development Lead</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="flx--6°xs flx--6°sm flx--4°md">
					<a href="/projects/mutz" class="project-teaser">
						<div class="project-teaser__media">
							<img src="/media/teaser-mutz.jpg" alt="MUTZ FrontEnd Responsive Desktop and Mobile">
						</div>
						<div class="project-teaser__desc">
							<h3 class="upper">
								Mutz
							</h3>
							<ul class="project-teaser__services">
								<li>UX/UI Design</li>
								<li>Responsive Design</li>
								<li>Front- & BackEnd Development</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="flx--6°xs flx--6°sm flx--4°md">
					<a href="/projects/nicknight" class="project-teaser">
						<div class="project-teaser__media">
							<img src="/media/teaser-nicknight-2.jpg" alt="Nicknight by Nickelodeon on iPhone">
						</div>
						<div class="project-teaser__desc">
							<h3>
								<em>Nickelodeon</em>
								Nicknight
							</h3>
							<ul class="project-teaser__services">
								<li>Consulting</li>
								<li>Interface</li>
								<li>FrontEnd Development Lead</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="flx--6°xs flx--6°sm flx--4°md">
					<a href="/projects/amstelhouse" class="project-teaser">
						<div class="project-teaser__media">
							<img src="/media/teaser-amstelhouse.jpg" alt="AmstelHouse Hostel Webseite">
						</div>
						<div class="project-teaser__desc">
							<h3>
								AmstelHouse
							</h3>
							<ul class="project-teaser__services">
								<li>Consulting</li>
								<li>Interface</li>
								<li>FrontEnd Development Lead</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="flx--6°xs flx--6°sm flx--4°md">
					<a href="/projects/textilien" class="project-teaser">
						<div class="project-teaser__media">
							<img src="/media/teaser-textilien.jpg" alt="Nicknight by Nickelodeon on iPhone">
						</div>
						<div class="project-teaser__desc">
							<h3>
								Textilien
							</h3>
							<ul class="project-teaser__services">
								<li>UX/UI Design</li>
								<li>Responsive Design</li>
								<li>Front- & BackEnd Development</li>
							</ul>
						</div>
					</a>
				</div>
				
			</div>
		</div>
	</section>
</div>