<section class="section project-default">
	<div class="container">
		<header class="section__header">
			<h2>
				<em>Maps & Filter</em>
				Siemens Hausgeräte
			</h2>
		</header>

		<div class="project__details flx-group">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<h4>Aufgabe</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, magnam similique exercitationem, suscipit, officia omnis itaque rem atque doloribus iste tempore et eius sit tenetur reprehenderit. Excepturi sunt, voluptatem.
				</p>
			</div>
		</div>

		{{!-- <div class="flx-group flx-group--centered">
			<div class=" flx--1°md0">
				<div class="project__media">
					<figure>
						<img src="media/siemens/siemens-hero.jpg" alt="siemens" />
					</figure>
				</div>
			</div>
		</div> --}}

		<div class="flx-group flx-group--centered">
			<div class="flx--6°sm flx--6°md">
				<div class="project__media">
					<figure>
						<img src="media/siemens/siemens-filter.jpg" alt="siemens" />
						{{!-- <figcaption>consectetur adipisicing elit. Dolorem dolore</figcaption> --}}
					</figure>
				</div>
			</div>
			<div class="flx--6°sm flx--4°md">
				<h4>Filterfunktionalität</h4>
				<p>
					für Produktlisten, Downloads und Händler
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, magnam similique exercitationem, suscipit, officia omnis
				</p>
			</div>
		</div>
		<div class="flx-group flx-group--centered">	
			<div class="flx--6°sm flx--6°md flx--put-last°md">
				<div class="project__media">
					<figure>
						<img src="media/siemens/siemens-map.jpg" alt="siemens" />
						{{!-- <figcaption>consectetur adipisicing elit. Dolorem dolore</figcaption> --}}
					</figure>
				</div>
			</div>
			<div class="flx--6°sm flx--4°md">
				<h4>Map</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, magnam similique exercitationem, suscipit, officia omnis
				</p>
			</div>
		</div>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<h4>Aufgabe</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, magnam similique exercitationem, suscipit, officia omnis itaque rem atque doloribus iste tempore et eius sit tenetur reprehenderit. Excepturi sunt, voluptatem.
				</p>
				<a href="http://siemens-home.de" class="project_link">siemens-home.de</a>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>Konzeption</li>
					<li>Interface Design</li>
				</ul>
			</div>
		</div>

		<a class="close-btn" href="/#section-projects" data-jump>Back to Projekt Overview</a>
	</div>
</section>