<section class="section project-textilien">
	<div class="container">
		<header class="section__header">
			<h2>
				<em>Lektorat Barbara Delius</em>
				Textilien
			</h2>
			<p>Überschrift nach Links schieben, als zurückbutton! Dolorem eius ea fugiat consectetur vero suscipit aliquid a quae quidem explicabo consequuntur expedita cupiditate totam facilis, temporibus aspernatur voluptatem ratione iure.</p>
		</header>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--xs-12 flx--sm-6 flx--md-6" style="margin-left: calc(8.3333333333% * 2);">
				<h4>Aufgabe</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore iure, veniam, voluptas asperiores, illum ratione, incidunt unde reiciendis facere cumque perferendis. Quasi molestiae accusamus earum esse, aut corporis cupiditate.</p>
				<h4>Lösung</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore iure, veniam, voluptas asperiores, illum ratione, incidunt unde reiciendis facere cumque perferendis. Quasi molestiae accusamus earum esse, aut corporis cupiditate.</p>
			</div>
			<div class="flx--xs-12 flx--sm-6 flx--md-4">
				<h4>Aufgabe</h4>
				<ul>
					<li>consectetur adipisicing elit</li>
					<li>consectetur adipisicing elit</li>
					<li>consectetur adipisicing elit</li>
					<li>consectetur adipisicing elit</li>
				</ul>
			</div>
		</div>
		
		<a class="close-btn" href="/#section-projects" data-jump>Back to Projekt Overview</a>
	</div>
</section>