/* ===================================================
BUTTONS
=================================================== */

.btn {
	position: relative;
	display: inline-block;
	background: transparent;
	margin: $margin-default 0;
	padding: .75em 2em;
	width: 16em;
	max-width: 100%;
	color: inherit;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: .05em;
	border: 2px solid;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: 300ms;
	appearance: none;
	
	&:hover, &:focus {
		color: #fff;
		background: rgba(#333, .1);
	}
}

.btn--small {
	font-size: 1.4rem;
	border-width: 2px;
}

.btn--block {
	width: 100%;
}

.btn-group {
	// display: inline-block;
}

.btn-group--right {
	text-align: right;
}

.btn-group--center {
	text-align: center;
}

@keyframes textpulse {
	to {
		opacity: 0.1;
	}
}

.btn--busy {
	animation: textpulse 1s alternate 399;
}

.close-btn {
	@extend %icon-close;
	@extend %ir;
	position: absolute;
	top: 5rem;
	right: 5rem;
	width: 40px;
	height: 40px;
	width: 4rem;
	height: 4rem;
	opacity: .75;
	background-size: contain;

	&:hover,
	&:focus {
		opacity: 1;
	}

	&:active {
		transform: scale(.95);
	}

	@media (max-width: $screen-xs-max) {
		top: 3rem;
		right: 3rem;
		width: 3rem;
		height: 3rem;
	}
}

.text-btn {
	text-transform: uppercase;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 500;
	border-bottom: 2px solid;

	&:hover,
	&:focus {
		opacity: 0.75;
	}
}

.text-btn--small {
	font-size: 1.4rem;
	border-width: 2px;
}




