/* ===================================================
SECTION STAGE
=================================================== */

.stage {
	position: relative;
	background: #CCD1CC;
	overflow: hidden;
	background-size: 100% auto;
	transform: translateZ(0.00001px);

	min-height: initial;
	height: 50vw;
	max-height: 90vh;

	justify-content: center;
}


.xiel-logo {
	position: absolute;
	// top: 5%;
	left: 0;
	right: 0;
	margin: 5% auto;
	z-index: 9999;
	
	a {
		@extend %ir;
		@extend %icon-xiel-logo;
		display: block;
		overflow: hidden;
		margin: 0 auto;
		transform: scale(.75);
		width: 12rem;
		height: 12rem;
	}
}

.welcoming {
	position: relative;
	font-size: 2rem;
}

.stage-hello {
	display: block;
	color: $color-key;
	font-size: 64px;
	font-weight: 100;
}

.stage-hero {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: blue;
	// visibility: hidden;
	border: 2px green solid;

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.blurred {
		position: absolute;
		top: 0;
	}
}