/* ===================================================
SECTION CONTACT
=================================================== */

.section--imprint {
	color: $color-text-light;
	color: hsl(214, 10%, 50%);
	padding: 1% 0 .5%;
	border-top: 2px solid;
	background: hsl(214, 13%, 15%);
	background: #181c20;

	h4 {
		margin: 0 0 1em;
	}
}

.legal {
	@extend %small-font;
	text-align: right;
	// background: red;

	ul, li {
		list-style: none;
	}

	li {
		display: inline-block;
		// color: $color-text-default;
		// margin: 0 .5em;

		+ li {
			&:before {
				content: ' | ';
				font-weight: bold;
				margin: 0 .5em;
			}
		}
	}

	a {
		&:hover,
		&:focus {
			color: $color-text-light;
		}
	}
}