/* ===================================================
SECTION DEVELOPMENT
=================================================== */

.development {
	background: #fff;
	z-index: 1;
	padding: 4% 0;
	// transform: translateZ(0.00001px);

	&:before,
	&:after {
		@extend %pseudo;
		top: 0;
		left: 0;
		margin: 0;
		margin-top: -4%;
		width: 100%;
		height: 0;
		padding-bottom: 8%;
		background: #fff;
		opacity: 1;
		transform: matrix(1,-.075,0,1,1,1);
	}

	&:after {
		top: auto;
		bottom: 0;
		margin: 0;
		margin-bottom: -4%;
	}

	.container {
		position: relative;
		z-index: 1;
		// transform: matrix(1,.075,0,1,1,1);
	}
}

.dev-feature {
	text-align: center;
	margin-bottom: 8%;

	//flex
	// display: flex;
	// flex-wrap: wrap;
	// flex-direction: row;
	// align-items: center;
}

.dev-feature--ux {
	h3 {
		color: $color-red;
	}
	path {
		stroke: $color-red;
	}
}

.dev-feature--design {
	h3 {
		color: $color-green;
	}
	path {
		stroke: $color-green;
	}
}

.dev-feature--tech {
	h3 {
		color: $color-blue;
	}
	path {
		stroke: $color-blue;
	}
}

.dev-feature__icon {
	position: relative;
	width: 70%;
	padding-bottom: 70%;
	margin: auto;
	margin-bottom: 3rem;

	svg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 100%;
	}

	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		float: left;
		width: 29%;
		padding-bottom: 29%;
		margin-right: 4rem;
	}
}

.dev-feature__text {
	// flex: 1;
	overflow: hidden;
	text-align: center;
	min-width: 50%;
	// background: greenyellow;

	p:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		text-align: left;

		h3 {
			margin-top: 0;
		}
	}
}

.dev-technologies {
	position: relative;
	text-align: center;
	transition: 500ms;
}

.js .dev-technologies--hidden {
	overflow: hidden;
	visibility: hidden;
	height: 0;
	opacity: 0;
}

.dev-technologies__list {
	

	li {
		font-size: 1.4rem;
		margin: 2rem 0;
		transform: scale(1);
		transition: 1.2s ease-out;
		transition: 1.2s cubic-bezier(.62,1.37,.52,.95);

		@for $i from 1 through 12 {
			&:nth-child(#{$i}){
				transition-delay: ($i - 1) * 150 + 500ms;
			}
		}

		.js .dev-technologies--hidden & {
			transform: translateX(300%);
			// transform: translateX(50vw);
			transition: 0ms;
			opacity: 0;
		}

		&:before {
			display: block;
			content: ' ';
			margin: 0 auto .5em;
			width: 100%;
			padding-bottom: 100%;
			background-size: contain;
			background-position: center center;
			border-radius: 50%;
			border: 1px solid $color-gray-lighter;
		}
	}

	.grunt:before {
		@extend %icon-tech-grunt;
	}
	.sass:before {
		@extend %icon-tech-sass;
	}
	.es5:before {
		@extend %icon-tech-es5;
	}
	.nodejs:before {
		@extend %icon-tech-nodejs;
	}
	.html5:before {
		@extend %icon-tech-html5;
	}
	.silverstripe:before {
		@extend %icon-tech-silverstripe;
	}
}
























