/* ===================================================
SECTION STAGE
=================================================== */

.stage {
	position: relative;
	background: #CCD1CC;
	overflow: hidden;
	background-size: 100% auto;
	transform: translateZ(0.00001px);

	min-height: initial;
	height: 50vw;
	max-height: 90vh;

	justify-content: center;
}


.xiel-logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 10rem;
	height: 10rem;
	margin: 5% auto 0;
	z-index: 9999;

	a {
		position: relative;
		@extend %ir;
		display: block;
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	h1, svg {
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media (max-width: $screen-sm-max) {
		width: 8rem;
		height: 8rem;
	}

	@media (max-width: $screen-xs-max) {
		width: 6rem;
		height: 6rem;
	}
}

.welcoming {
	position: relative;
	font-size: 2rem;
}

.stage-hello {
	display: block;
	color: $color-key;
	font-size: 6.4rem;
	font-weight: 100;
}

.stage-hero {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: blue;
	// visibility: hidden;
	border: 2px green solid;

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.blurred {
		position: absolute;
		top: 0;
	}
}