/* ===================================================
SECTION PROJECTS
=================================================== */

.projects {
	color: $color-text-default;
	background: #fff;
	background: linear-gradient(to bottom, #fff, #D9D9D9);
	background: radial-gradient(circle farthest-corner at 50% 10%, #fff, #D9D9D9);
}

.project-teasers {
	transform: scale(1);
}

.project-teaser {
	position: relative;
	overflow: hidden;
	display: block;
	margin: $margin-default 0;
	padding-bottom: 600/800 * 99.99%;
	box-shadow: 0 3px 10px -3px #666;
}

.project-teaser__media {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;

	img {
		position: absolute;
		display: block;
		width: 100%;
		height: auto;
		transform: scale(1.001);
		transition: transform 400ms ease-out;

		a:hover &,
		a:focus & {
			transform: scale(1.05);
			// filter: blur(5px);
		}
	}
}

.project-teaser__desc {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 0 3rem;
	color: #fff;
	text-align: center;
	padding-top: 25%;
	opacity: 0;
	background: $color-key-cyan;
	background: rgba($color-key-cyan, .9);
	background: linear-gradient(to bottom, rgba($color-key-cyan, .9), rgba($color-key-cyan, .96) );
	// transform: scale(1.05);
	transition: 300ms ease-in-out;

	a:hover &,
	a:focus & {
		// padding-top: 25%;
		opacity: 1;
		cursor: pointer;
		transform: translateY(0.001px);
	}

	h3 {
		position: relative;
		font-weight: 400;
		line-height: 1.1;
		margin: 0 0 .75em;
		padding-bottom: .75em;
		transition: inherit;
		transform: translateY(50%);

		a:hover &,
		a:focus & {
			transform: scale(1);
		}
		
		//title kicker
		em {
			position: absolute;
			width: 100%;
			left: 0;
			font-size: .5em;
			font-weight: 300;
			line-height: 1.5;
			// text-transform: uppercase;
			letter-spacing: .05em;
			bottom: 100%;
			opacity: .75;
		}

		// Underline
		&:after {
			@extend %pseudo;
			left: 0;
			right: 0;
			bottom: 0;
			width: 90%;
			margin: auto;
			border-bottom: 2px solid;
			transform: rotateY(90deg);
			transition: 500ms;
			transition-delay: 50ms;
			
			a:hover &,
			a:focus & {
				transform: translateY(0.0001%);
			}
		}
	}

	ul, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.agency {
		display: block;
		font-size: .5em;
	}
}

.project-teaser__services {
	
	li {
		display: block;
		font-size: 1.6rem;
		line-height: 1.2;
		margin: .25em 0;
		font-style: italic;
		transition: 400ms;
		opacity: 0;
		transform: translateY(150%);

		a:hover &,
		a:focus & {
			transform: translateY(0.0001%);
			opacity: 1;

			@for $i from 1 through 10 {
				&:nth-child(#{$i}){
					transition-delay: ($i - 1) * 100 + 200ms;
				}
			}
		}
		
	}
}

.project__media {
	width: 100%;

	img, video {
		display: block;
		width: 100%;
		height: auto;
	}
}

.project-textilien {
	background: #d2d0cb url('../media/textilien/textilien-hero.jpg') center top no-repeat;

	.section__header {
		padding-bottom: 550px;
	}
}

.project__details {
	padding-top: 2 * 1.45rem;
	background: #fff;
	background: rgba(#fff, .75);
	background: rgba(#d2d0cb, .75);
	box-shadow: 0 0 50px 30px rgba(#d2d0cb, .75);
}









