%icon-close { background-image: url('../../assets/img/png_icons/close.png'); background-repeat: no-repeat; }

%icon-dribbble { background-image: url('../../assets/img/png_icons/dribbble.png'); background-repeat: no-repeat; }

%icon-flickr { background-image: url('../../assets/img/png_icons/flickr.png'); background-repeat: no-repeat; }

%icon-github { background-image: url('../../assets/img/png_icons/github.png'); background-repeat: no-repeat; }

%icon-instagram { background-image: url('../../assets/img/png_icons/instagram.png'); background-repeat: no-repeat; }

%icon-link-dark { background-image: url('../../assets/img/png_icons/link-dark.png'); background-repeat: no-repeat; }

%icon-listitem-dark { background-image: url('../../assets/img/png_icons/listitem-dark.png'); background-repeat: no-repeat; }

%icon-next { background-image: url('../../assets/img/png_icons/next.png'); background-repeat: no-repeat; }

%icon-prev { background-image: url('../../assets/img/png_icons/prev.png'); background-repeat: no-repeat; }

%icon-tech-es5 { background-image: url('../../assets/img/png_icons/tech-es5.png'); background-repeat: no-repeat; }

%icon-tech-grunt { background-image: url('../../assets/img/png_icons/tech-grunt.png'); background-repeat: no-repeat; }

%icon-tech-html5 { background-image: url('../../assets/img/png_icons/tech-html5.png'); background-repeat: no-repeat; }

%icon-tech-nodejs { background-image: url('../../assets/img/png_icons/tech-nodejs.png'); background-repeat: no-repeat; }

%icon-tech-react { background-image: url('../../assets/img/png_icons/tech-react.png'); background-repeat: no-repeat; }

%icon-tech-sass { background-image: url('../../assets/img/png_icons/tech-sass.png'); background-repeat: no-repeat; }

%icon-tech-silverstripe { background-image: url('../../assets/img/png_icons/tech-silverstripe.png'); background-repeat: no-repeat; }

%icon-tech-webpack { background-image: url('../../assets/img/png_icons/tech-webpack.png'); background-repeat: no-repeat; }

%icon-twitter { background-image: url('../../assets/img/png_icons/twitter.png'); background-repeat: no-repeat; }

