<section class="section project-default">
	<div class="container">
		<header class="section__header">
			<h2>
				<em>Hostel</em>
				AmstelHouse
			</h2>
		</header>

		<div class="flx-group flx-group--centered">
			<div class="flx--10°md">
				<div class="project__media">
					<figure>
						<img src="media/amstelhouse/amstelhouse-hero.jpg" alt="amstelhouse" />
					</figure>
				</div>
			</div>
		</div>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<h4>Aufgabe</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, magnam similique exercitationem, suscipit, officia omnis itaque rem atque doloribus iste tempore et eius sit tenetur reprehenderit. Excepturi sunt, voluptatem.
				</p>
				<h4>Lösung</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore iure, veniam, voluptas asperiores, illum ratione, incidunt unde reiciendis facere cumque perferendis. Quasi molestiae accusamus earum esse, aut corporis cupiditate.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore iure, veniam, voluptas asperiores, illum ratione, incidunt unde reiciendis facere cumque perferendis. Quasi molestiae accusamus earum esse, aut corporis cupiditate.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore iure, veniam, voluptas asperiores, illum ratione, incidunt unde reiciendis facere cumque perferendis. Quasi molestiae accusamus earum esse, aut corporis cupiditate.</p>
				<a href="http://amstelhouse.de" class="project_link">amstelhouse.de</a>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>Konzeption</li>
					<li>Interface Design</li>
					<li>FrontEnd-Entwicklung</li>
					<li>BackEnd-Entwicklung</li>
					<li>Konzeption</li>
					<li>Interface Design</li>
					<li>FrontEnd-Entwicklung</li>
					<li>BackEnd-Entwicklung</li>
					<li>Konzeption</li>
					<li>Interface Design</li>
					<li>FrontEnd-Entwicklung</li>
					<li>BackEnd-Entwicklung</li>
				</ul>
			</div>
		</div>
		<a class="close-btn" href="/#section-projects" data-jump>Back to Projekt Overview</a>
	</div>
</section>