<section class="section project-default">
	<div class="container">
		<header class="section__header js-autofocus">
			<h2>
				<em>Hostel</em>
				AmstelHouse
			</h2>
		</header>

		<div class="flx-group flx-group--centered">
			<div class="flx--10°md">
				<div class="project__media">
					<figure>
						<img src="/media/amstelhouse/amstelhouse-hero.jpg" alt="webseite amstelhouse frontend responsive" />
					</figure>
				</div>
			</div>
		</div>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<p>
					Der digitale Neuanstrich AmstelHouse Hostel präsentiert die Berliner Jugendherberge im richtigen Licht: jung, modern aufgeschlossen.
				</p>
				<p>
					Galerien und Texte verschaffen schnell und übersichtlich einen Eindruck über das Hostel, zeigen Anreise-Möglichkeiten und machen auf Hostel-Services und Veranstaltungen aufmerksam. Sobald das passende Angebot gefunden ist, kann auch direkt auf der Webseite gebucht werden.
				</p>
				<p>
					Das Blog bietet zusätzlich Infos zu Events in der Hauptstadt und erlaubt einen Blick hinter die Kulissen des Hostelbetriebs.
				</p>
				<p>
					Durch das multilinguale CMS Silverstripe begrüßt das Hostel seine Gäste im Internet schon in acht Sprachen und dank Responsivem Webdesign natürlich auf allen Geräten von Smartphones bis Desktop-PCs.
				</p>
				
				<ul>
					<li><a href="http://amstelhouse.de" class="project_link">amstelhouse.de</a></li>
				</ul>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>Responsive Design</li>
					<li>FrontEnd-Entwicklung</li>
					<li>BackEnd-Entwicklung</li>
				</ul>
			</div>
		</div>
		
		<a class="close-btn projectview-btn js-rb-life" href="/#section-projects" data-module="button" data-type="open" aria-controls="section-projects">
			Back to Projekt Overview
		</a>
	</div>
</section>