<section class="section project-default">
	<div class="container">
		<header class="section__header">
			<h2>
				<em>Maps & Filter</em>
				Deutsche See
			</h2>
		</header>

		{{!-- <div class="project__details flx-group">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<h4>Aufgabe</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, magnam similique exercitationem, suscipit, officia omnis itaque rem atque doloribus iste tempore et eius sit tenetur reprehenderit. Excepturi sunt, voluptatem.
				</p>
			</div>
		</div> --}}

		<div class="flx-group flx-group--centered">
			<div class=" flx--1°md0">
				<div class="project__media">
					<figure>
						<img class="freeform" src="/media/deutschesee/deutschesee-hero.png" alt="deutschesee" />
					</figure>
				</div>
			</div>
		</div>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<h4>Map</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, magnam similique exercitationem, suscipit, officia omnis
				</p>
				<h4>Map</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, magnam similique exercitationem, suscipit, officia omnis
				</p>

				<a href="http://www.deutschesee.de" class="project_link">deutschesee.de</a>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>Konzeption</li>
					<li>Interface Design</li>
				</ul>
			</div>
		</div>

		<a class="close-btn" href="/#section-projects" data-jump>Back to Projekt Overview</a>
	</div>
</section>