<section class="section project-default">
	<div class="container">
		<header class="section__header js-autofocus">
			<h2>
				<em>Ingenieurgesellschaft</em>
				<span class="upper">Mutz</span>
			</h2>
		</header>

		<div class="flx-group flx-group--centered">
			<div class="flx--10°md">
				<div class="project__media">
					<figure>
						<img class="freeform" src="/media/mutz/mutz-hero.png" alt="MUTZ Webdesign Responsive auf Smartphone und Tablet" />
					</figure>
				</div>
			</div>
		</div>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<p>
					Um die moderne Ingenieurgesellschaft MUTZ auch im Web wieder zeitgemäß zu präsentieren, wurde der komplette Webauftritt überarbeitet. Neben dem neuen Design wurde die Navigationsstruktur verbessert und Themenseiten bieten jetzt einen übersichtlichen Einstieg in Themenbereiche und führen den Nutzer zu den gewünschten Informationen.
				</p>
				<p>
					Texte können nun durch interaktive Elemente wie Foto-Galerien, Bildvergleiche, Akkordeons, Listen ergänzt werden. Und durch Responsive Design funktioniert die Webseite sowohl auf dem Desktop-PC im Büro als auch auf dem Handy unterwegs.
				</p>
				<p>
					All das lässt sich leicht und sicher über das integrierte Content-Management-System SilverStripe verwalten. So können die Inhalte durch das Team selbst angelegt und aktuell gehalten werden.
				</p>

				<a href="http://mutz.de" class="project_link">mutz.de</a>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>Konzeption</li>
					<li>Interface Design</li>
					<li>FrontEnd-Entwicklung</li>
					<li>BackEnd-Entwicklung</li>
				</ul>
			</div>
		</div>
		<a class="close-btn projectview-btn js-rb-life" href="/#section-projects" type="button" data-module="button" data-type="open" aria-controls="section-projects">
			Back to Projekt Overview
		</a>
	</div>
</section>