<section class="section project-default">
	<div class="container">
		<header class="section__header js-autofocus">
			<h2>
				<em>Nickelodeon</em>
				Nicknight
			</h2>
		</header>

		<div class="flx-group flx-group--centered">
			<div class=" flx--10°md">
				<div class="project__media">
					<figure>
						<img src="/media/nicknight/nicknight-hero.jpg" alt="Nicknight" />
						{{!-- <figcaption>Ipsum dolor sit amet, consectetur adipisicing elit</figcaption> --}}
					</figure>
				</div>
			</div>
		</div>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<p>
					Für das Abendprogramm Nicknight von Nickelodeon wurde anlässlich dessen ersten Geburtstages eine interaktive Mikropage entwickelt, auf der die Zuschauer dem Sender zum einjährigen Bestehen gratulieren und damit an einem Gewinnspiel teilnehmen können.
				</p>
				<p>
					Um es den Besuchern möglichst leicht zu machen ihre Glückwünsche zu senden, können sie ihr Foto oder Video nicht nur hochladen sondern auch auch direkt auf der Webseite aufnehmen. Diese können dann auch noch mit einem Filter aufgehübscht werden und ab damit!
				</p>
				<p>
					Alle Fotos und Videos der Teilnehmer werden auf einer Infinite-Scroll-Wall dargestellt und die besten Beiträge werden in einem TV-Trailer verarbeitet.
				</p>
				<a href="http://bday.nicknight.de" class="project_link">bday.nicknight.de</a>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>Responsive Design</li>
					<li>FrontEnd-Entwicklung</li>
					<li>BackEnd-Entwicklung</li>
				</ul>
			</div>
		</div>
		<a class="close-btn projectview-btn js-rb-life" href="/#section-projects" type="button" data-module="button" data-type="open" aria-controls="section-projects">
			Back to Projekt Overview
		</a>
	</div>
</section>