<section class="section stage rb-scrolly js-rb-life" data-module="scrolly" id="stage">
	<div class="stage-hero scrolly-element">
		<img src="/media/siemens/siemens-hero.jpg" alt=""
			 srcset="
					/media/siemens/siemens-hero.jpg 400w,
					/media/siemens/siemens-hero.jpg 800w,
					/media/siemens/siemens-hero.jpg 1600w,
					/media/siemens/siemens-hero.jpg 2000w"
			 />
	</div>
	<header class="section__header js-autofocus">
		<h2>
			Siemens Hausgeräte
		</h2>
		<p>
			Für den Relaunch der Webseite für Siemens Hausgeräte durfte ich einige zentrale, interaktive Module des neuen FrontEnds entwickeln.
		</p>
	</header>
</section>

<section class="section project-default">
	<div class="container">

		<div class="rb-itemscroller js-rb-life" data-module="itemscroller">
			<div class="itemscroller-viewport">
				<div class="itemscroller-content flx-group">
					<div class="flx--6°md">
						<div>
							<div class="project__media">
								<figure>
									<img src="/media/siemens/siemens-filter.jpg" alt="siemens frontend filter mit facetten" />
									<figcaption>Eingesetzt wird der neue Filter u.a. für Produktlisten, Pressematerial und die Händlersuche</figcaption>
								</figure>
							</div>
							<h4>Filterfunktionalität</h4>
							<p>
								Der neu entwickelte Facetten-Filter ermöglicht es dem Nutzer aus einer Vielzahl von Möglichkeiten die passenden Angebote zu finden.
								Und durch die clientseitige Filterung basierend auf FrontEnd-Technologien geht das auch besonders schnell, ohne lange Reaktions- und Ladezeiten.
							</p>
						</div>
					</div>
					<div class="flx--6°md">
						<div>	
							<div class="project__media">
								<figure>
									<img src="/media/siemens/siemens-map.jpg" alt="Händersuche basierend auf Google Maps" />
									<figcaption>Schneller den passenden Händler finden</figcaption>
								</figure>
							</div>
							<h4>Händlersuche</h4>
							<p>
								Das gewünschte Produkt ausprobieren oder eine persönliche Beratung vor Ort? Die neue Händlersuche basierend auf Google Maps zeigt mit Hilfe der GeolocationAPI automatisch die Händler in der Umgebung an und ermöglicht eine schnelle Filterung sowie eine bequeme Routenplanung.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>FrontEnd Entwicklung</li>
				</ul>
				

				<a href="http://siemens-home.de" class="project_link">siemens-home.de</a>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Agentur</h4>
				<p>Aperto</p>
			</div>
		</div>

		<a class="close-btn projectview-btn js-rb-life" href="/#section-projects" data-module="button" data-type="open" aria-controls="section-projects">
			Back to Projekt Overview
		</a>
	</div>
</section>