<section id="project-textilien" class="section project-default project-textilien">
	<div class="container">
		<header class="section__header js-rb-autofocus">
			<h2>
				<em>Lektorat Barbara Delius</em>
				Textilien
			</h2>
		</header>

		<div class="flx-group flx-group--centered">
			<div class="flx--10°md">
				<div class="project__media">
					<figure>
						<img src="/media/textilien/textilien-hero.jpg" alt="textilien" />
					</figure>
				</div>
			</div>
		</div>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<p>
					Das Lektorat Textilien präsentiert im Web sich seit dem Relaunch moderner als je zuvor. Ganz im Zentrum stehen dabei die Referenzen in fünf Kategorien, die von Interessierten in der Detail-Ansicht bildschirmfüllend begutachten lassen. Durch die Responsive FrontEnd-Umsetzung funktioniert die Webseite auf Smartphones, Tablets und Desktop-Computern.
				</p>
				<p>
					Die Inhalte können dank des integrierten SilverStripe CMS sehr einfach angelegt und aktuell gehalten werden.
				</p>
				<a href="http://www.die-textilien.de" class="project_link">die-textilien.de</a>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>Konzeption</li>
					<li>Interface Design</li>
					<li>FrontEnd-Entwicklung</li>
					<li>BackEnd-Entwicklung</li>
				</ul>
			</div>
		</div>
		<a class="close-btn projectview-btn js-rb-live" href="/#section-projects" type="button" data-module="button" data-type="open" aria-controls="section-projects">
			Back to Projekt Overview
		</a>
	</div>
</section>