<section id="project-textilien" class="section project-textilien">
	<div class="container">
		<header class="section__header">
			<h2>
				<em>Lektorat Barbara Delius</em>
				Textilien
			</h2>
			{{!-- <p>Überschrift nach Links schieben, als zurückbutton! Dolorem eius ea fugiat consectetur vero suscipit aliquid a quae quidem explicabo consequuntur expedita cupiditate totam facilis, temporibus aspernatur voluptatem ratione iure.</p> --}}
		</header>

		<div class="project__details flx-group flx-group--centered">
			<div class="flx--12°xs flx--8°sm flx--6°md flx-push--2°md">
				<h4>Aufgabe</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore iure, veniam, voluptas asperiores, illum ratione, incidunt unde reiciendis facere cumque perferendis. Quasi molestiae accusamus earum esse, aut corporis cupiditate.</p>
				<h4>Lösung</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore iure, veniam, voluptas asperiores, illum ratione, incidunt unde reiciendis facere cumque perferendis. Quasi molestiae accusamus earum esse, aut corporis cupiditate.</p>
				<a href="http://www.die-textilien.de" class="project_link">die-textilien.de</a>
			</div>
			<div class="flx--12°xs flx--4°sm flx--4°md">
				<h4>Leistungen</h4>
				<ul class="text-list">
					<li>Konzeption</li>
					<li>Interface Design</li>
					<li>FrontEnd-Entwicklung</li>
					<li>BackEnd-Entwicklung</li>
				</ul>
			</div>
		</div>
		<a class="close-btn" href="/#section-projects" data-jump>Back to Projekt Overview</a>
	</div>
</section>