
<header class="xiel-logo">
	<h1>
		<a href="#">
			xiel development
		</a>
	</h1>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120"><path fill="#222943" fill-rule="evenodd" d="M110.3 19.6h9.7V0h-19.6v9.8h10v9.8zm0 80.8v9.8h-10v9.8H120v-19.6h-9.7zM95.7 39.2l-14.2-14-21 21-21.3-21-14 14 21 21.2-21 21 14 14.3 21.2-21.2 21 21.2 14.3-14.2-21.2-21L95.7 39zm-86 61.2H0V120h19.6v-9.8H9.8v-9.8zM0 0v19.6h9.8V9.8h9.8V0H0z"/></svg>
</header>

<section class="section stage" id="stage">

	<div class="stage-hero"
		{{!-- data-anchor-target="#stage"
		data-top="transform:translateY(0vh); opacity[swing]: 1"
		data-top-bottom="transform:translateY(10vw); opacity: 0" --}}
	>
		<img src="img/stage/felix-leupold-stage_800.jpg"
			 srcset="
					img/stage/felix-leupold-stage_400.jpg 400w,
					img/stage/felix-leupold-stage_800.jpg 800w,
					img/stage/felix-leupold-stage_1600.jpg 1600w,
					img/stage/felix-leupold-stage_2000.jpg 2000w"
			alt="front end developer in Berlin Felix" />
	</div>

	<div class="container">

		<div class="flx-group">
			<div class="flx--12°md">
				<div class="welcoming" 
					data-anchor-target="#stage"
					data-0="transform[swing]:translateY(0vh); opacity: 1"
					data-top-bottom="transform:translateY(-5vh); opacity: 0"
				>
					<p>
						<em class="stage-hello"
						>
							Hallo!
						</em>
						Ich bin Felix – freiberuflicher FrontEnd-Entwickler aus Berlin
						und entwickle effektive Webseiten und Apps, die jeder gerne nutzt.
					</p>
					{{!-- <p>
						I am Felix – a freelance FrontEnd web developer from Berlin.<br>
						HTML, CSS & JavaScript are my passion ♡
					</p> --}}
					
					<a href="#section-contact" class="btn" data-jump>
						Say hello!
					</a>
				</div>
			</div>
		</div>

	</div>
</section>

{{> development/section-development}}
{{> projects/section-projects}}
{{> contact/section}}

<section class="section section--imprint">
	<div class="container">
		<div class="flx-group flx-group--centered">
			<div class="field flx--6°sm flx--6°md">
				{{!-- <h4>Follow me:</h4> --}}
				<ul class="sm-links">
					<li>
						<a href="http://twitter.com/xiel" target="_blank" class="sm-link sm-link--twitter">Twitter</a>
					</li>
					<li>
						<a href="http://github.com/xiel" target="_blank" class="sm-link sm-link--github">Github</a>
					</li>
				</ul>
			</div>
			<div class="field flx--6°sm flx--6°md">
				<div class="legal">
					<ul>
						<li>XIEL webdevelopment</li>
						<li><a href="imprint.html">Datenschutz & Impressum</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>