
<h1 class="xiel-logo">
	<a href="#">
		xiel development
	</a>
</h1>

<section class="section stage" id="stage">

	<div class="stage-hero"
		data-anchor-target="#stage"
		data-top="transform:translateY(0vh); opacity[swing]: 1"
		data-top-bottom="transform:translateY(10vw); opacity: 0" {{!-- filter: blur(0px); --}}
	>
		<img src="img/stage/felix-leupold-stage.jpg" alt="">
		{{!-- <img src="img/stage/felix-leupold-stage-blurred-2.jpg" class="blurred" alt=""
			data-anchor-target="#stage"
			data-40p="opacity: 0"
			data-50p="opacity: 1"
		> --}}
	</div>

	<div class="container">

		<div class="flx-group">
			<div class="flx--12°md">
				<div class="welcoming" 
					data-anchor-target="#stage"
					data-0="transform[swing]:translateY(0vh); opacity: 1"
					data-top-bottom="transform:translateY(-5vh); opacity: 0"
				>
					<p>
						<em class="stage-hello"
						>
							Hallo!
						</em>
						Ich bin Felix – freiberuflicher FrontEnd-Entwickler aus Berlin<br>
						und entwickle effektive Webseiten und Apps, die man gern benutzt.
					</p>
					{{!-- <p>
						I am Felix – a freelance FrontEnd web developer from Berlin.<br>
						HTML, CSS & JavaScript are my passion ♡
					</p> --}}
					
					<a href="#section-contact" class="btn" data-jump>
						Say hello!
					</a>
				</div>
			</div>
		</div>

	</div>
</section>

{{> development/section-development}}
{{> projects/section-projects}}
{{> contact/section}}

<section class="section section--imprint">
	<div class="container">
		<div class="flx-group flx-group--centered">
			<div class="field flx--6°sm flx--6°md">
				{{!-- <h4>Follow me:</h4> --}}
				<ul class="sm-links">
					<li>
						<a href="http://twitter.com/xiel" target="_blank" class="sm-link sm-link--twitter">Twitter</a>
					</li>
					<li>
						<a href="http://github.com/xiel" target="_blank" class="sm-link sm-link--github">Github</a>
					</li>
				</ul>
			</div>
			<div class="field flx--6°sm flx--6°md">
				<div class="legal">
					<ul>
						<li>XIEL webdevelopment</li>
						<li><a href="imprint.html">Datenschutz & Impressum</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>