
<header class="xiel-logo">
	<h1>
		<a href="/">
			XIEL FrontEnd Development - Felix Leupold - Berlin
		</a>
	</h1>
	<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
		<g fill="#333" fill-rule="evenodd">
			<path d="M500 82V0h-82v41h41v41h41zm-41 377h-41v41h82v-82h-41v41zM0 418v82h82v-41H41v-41H0zM41 82V41h41V0H0v82h41z"/>
			<path class="x" d="M340 105l-88 88-88-88-59 59 88 88-88 88 59 59 88-88 88 88 59-59-88-88 88-88-59-59z"/>
		</g>
	</svg>
</header>

<section class="section stage rb-scrolly js-rb-life" data-module="scrolly" id="stage">

	<div class="stage-hero scrolly-element">
		<picture>
			<source data-srcset="img/stage/felix-leupold-stage_400.jpg" media="(max-width: 400px)" />
			<source data-srcset="img/stage/felix-leupold-stage_800.jpg" media="(max-width: 800px)" />
			<source data-srcset="img/stage/felix-leupold-stage_1600.jpg" media="(max-width:1600px)" />
			<img src="img/stage/felix-leupold-stage_400.jpg" 
				 data-src="img/stage/felix-leupold-stage_2000.jpg" alt="frontend developer Felix Leupold" class="lazyload" />
		</picture>
	</div>

	<div class="container">

		<div class="flx-group">
			<div class="flx--12°md">
				<div class="welcoming">
					<p>
						<em class="stage-hello"
						>
							Hallo!
						</em>
						Ich bin Felix, freiberuflicher FrontEnd-Entwickler aus Berlin
						und entwickle effektive Webseiten und Apps, die jeder gerne nutzt.
					</p>
					{{!-- <p>
						I am Felix – a freelance FrontEnd web developer from Berlin.<br>
						HTML, CSS & JavaScript are my passion ♡
					</p> --}}
					<a href="#section-contact" class="btn js-rb-life" data-module="softjumpbutton" data-focus-target="true">
						Schreib mir
					</a>
				</div>
			</div>
		</div>

	</div>
</section>

{{> development/section-development}}
{{> projects/section-projects}}
{{> contact/section}}

<footer class="section section--imprint">
	<div class="container">
		<div class="flx-group flx-group--centered">
			<div class="flx--12°sm">
				<ul class="sm-links flx-group flx-group--centered">
					<li>
						<a href="http://twitter.com/xiel" target="_blank" class="sm-link sm-link--twitter">Twitter</a>
					</li>
					<li>
						<a href="http://github.com/xiel" target="_blank" class="sm-link sm-link--github">Github</a>
					</li>
					<li>
						<a href="https://dribbble.com/xiel" target="_blank" class="sm-link sm-link--dribbble">Dribbble</a>
					</li>
					<li>
						<a href="http://flickr.com/fjleupold" target="_blank" class="sm-link sm-link--flickr">Flickr</a>
					</li>
					<li>
						<a href="http://instagram.com/xiel" target="_blank" class="sm-link sm-link--instagram">Instagram</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="flx-group flx-group--centered">
			<div class="flx--6°sm flx--6°md">
				<div class="legal-links">
					<ul>
						<li><a href="http://xiel.de" title="Startseite">XIEL webdevelopment</a></li>
						<li><a href="/impressum/">Datenschutz & Impressum</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>