/******************************************
	Responsive min-height based on width
******************************************/
/******************************************
	Breakpoints
******************************************/
/******************************************
	Grunticon mixin
	usage: @include grunticon(icon-my-svg);
******************************************/
/******************************************
	rem mixin
******************************************/
/******************************************
	% (percent) mixin
******************************************/
/* ==========================================================================
   Be sure how to use extends in @media:
   https://github.com/nex3/sass/issues/915
   ========================================================================== */
.sm-link {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .sm-link:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* ===================================================
BASE
=================================================== */
*, *:before, *:after {
  box-sizing: border-box; }

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #636462;
  background: #CCD1CC;
  margin: 0;
  padding: 0;
  font-size: 1rem; }

.stage {
  background: #CCD1CC url('../img/stage/felix-leupold-stage.jpg') right bottom no-repeat;
  background-size: contain;
  overflow: hidden; }

.xiel-logo {
  margin: 5% auto; }
  .xiel-logo a {
    display: block;
    overflow: hidden;
    margin: 0 auto; }
    .xiel-logo a:before {
      display: block;
      content: ' ';
      width: 100%;
      height: 100%; }

/* ===================================================
GENERAL TEXT
=================================================== */
ul, li {
  margin: 0;
  padding: 0; }

p {
  line-height: 1.45; }

em {
  font-style: normal; }

h2 {
  font-size: 3rem; }

.section__header {
  text-align: center;
  margin: 0 auto 3rem;
  max-width: 40rem; }
  .section__header h2, .section__header p {
    margin-bottom: .25em; }
  .section__header h2 {
    font-weight: 100; }
  .section__header p {
    font-weight: 300; }

/* ===================================================
GENERAL LAYOUT
=================================================== */
.section {
  position: relative;
  overflow: hidden;
  min-height: 20em;
  min-height: 100vh;
  padding: 3rem 0; }

.grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  z-index: 9999;
  pointer-events: none; }
  body:hover .grid {
    visibility: hidden;
    opacity: 0; }

.grid, .grid__col, .grid__inner {
  height: 100%; }

.grid__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 .5rem; }

.grid__inner {
  background: rgba(255, 105, 180, 0.33);
  border: solid rgba(255, 105, 180, 0.4);
  border-width: 0 1px; }

.container {
  padding: 0 .5rem;
  max-width: 1000px;
  margin: 2rem auto; }

.flexbox-wrapper {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -.5rem; }

.flexbox-wrapper--centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flexbox-wrapper--end {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flexbox {
  padding: 0 .5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-flex-basis: 33.33%;
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%;
  max-width: 33.33%;
  background-clip: content-box; }

.flexbox-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 2 auto;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto; }

/* ===================================================
Social Media Links
=================================================== */
.sm-links {
  list-style: none; }
  .sm-links li {
    display: inline-block; }

.sm-link {
  display: inline-block; }

/* ===================================================
BUTTONS
=================================================== */
.btn {
  display: inline-block;
  background: transparent;
  padding: 10px 20px;
  width: 270px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: .05em;
  border: 4px solid #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 300ms;
          transition: 300ms; }
  .btn:hover, .btn:focus {
    color: #fff;
    background: rgba(51, 51, 51, 0.1); }

/* ===================================================
SECTION DEVELOPMENT
=================================================== */
.development {
  color: #CCD1CC;
  background: #333; }

/* ===================================================
STAGE
=================================================== */
.welcoming {
  font-size: 1.3rem; }

.stage-hello {
  display: block;
  color: #041231;
  color: blue;
  font-size: 64px;
  font-weight: 100; }

.sm-link--github, .sm-link--twitter, .xiel-logo a {
  background-image: url("../img/sprites/sprites-icons-sprite.svg"); }

.sm-link--github, .sm-link--twitter, .xiel-logo a {
  background-size: 225px 125px; }

.no-svg .sm-link--github, .no-svg .sm-link--twitter, .no-svg .xiel-logo a, .xiel-logo .no-svg a {
  background-image: url("../img/sprites/sprites-icons-sprite-medium.png"); }

.sm-link--github {
  width: 46px;
  height: 36px;
  background-position: 0 0; }

.sm-link--twitter {
  width: 39px;
  height: 31px;
  background-position: -55px 0; }

.xiel-logo a {
  width: 120px;
  height: 120px;
  background-position: -100px 0; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	* Don't show links for images, or javascript/internal links
	*/
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }
