/******************************************
	Responsive min-height based on width
******************************************/
/******************************************
	Breakpoints
******************************************/
/******************************************
	Grunticon mixin
	usage: @include grunticon(icon-my-svg);
******************************************/
/******************************************
	rem mixin
******************************************/
/******************************************
	% (percent) mixin
******************************************/
/* ==========================================================================
   Be sure how to use extends in @media:
   https://github.com/nex3/sass/issues/915
   ========================================================================== */
.sm-link {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .sm-link:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* ===================================================
FLX GRID
=================================================== */
.flx, .flx--fit, .flx--xs-1, .flx--xs-2, .flx--xs-3, .flx--xs-4, .flx--xs-5, .flx--xs-6, .flx--xs-7, .flx--xs-8, .flx--xs-9, .flx--xs-10, .flx--xs-11, .flx--xs-12, .flx--xs-fit, .flx--sm-1, .flx--sm-2, .flx--sm-3, .flx--sm-4, .flx--sm-5, .flx--sm-6, .flx--sm-7, .flx--sm-8, .flx--sm-9, .flx--sm-10, .flx--sm-11, .flx--sm-12, .flx--sm-fit, .flx--md-1, .flx--md-2, .flx--md-3, .flx--md-4, .flx--md-5, .flx--md-6, .flx--md-7, .flx--md-8, .flx--md-9, .flx--md-10, .flx--md-11, .flx--md-12, .flx--md-fit, .flx--lg-1, .flx--lg-2, .flx--lg-3, .flx--lg-4, .flx--lg-5, .flx--lg-6, .flx--lg-7, .flx--lg-8, .flx--lg-9, .flx--lg-10, .flx--lg-11, .flx--lg-12, .flx--lg-fit, .flx-full {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 100%;
  padding: 0 1rem; }

.flx-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -1rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flx-group--centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flx-group--end {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flx--fit {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

@media (min-width: 480px) {
  .flx--xs-1 {
    width: 8.3333333333%; }
  .flx--xs-2 {
    width: 16.6666666667%; }
  .flx--xs-3 {
    width: 25%; }
  .flx--xs-4 {
    width: 33.3333333333%; }
  .flx--xs-5 {
    width: 41.6666666667%; }
  .flx--xs-6 {
    width: 50%; }
  .flx--xs-7 {
    width: 58.3333333333%; }
  .flx--xs-8 {
    width: 66.6666666667%; }
  .flx--xs-9 {
    width: 75%; }
  .flx--xs-10 {
    width: 83.3333333333%; }
  .flx--xs-11 {
    width: 91.6666666667%; }
  .flx--xs-12 {
    width: 100%; }
  .flx--xs-fit {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

@media (min-width: 640px) {
  .flx--sm-1 {
    width: 8.3333333333%; }
  .flx--sm-2 {
    width: 16.6666666667%; }
  .flx--sm-3 {
    width: 25%; }
  .flx--sm-4 {
    width: 33.3333333333%; }
  .flx--sm-5 {
    width: 41.6666666667%; }
  .flx--sm-6 {
    width: 50%; }
  .flx--sm-7 {
    width: 58.3333333333%; }
  .flx--sm-8 {
    width: 66.6666666667%; }
  .flx--sm-9 {
    width: 75%; }
  .flx--sm-10 {
    width: 83.3333333333%; }
  .flx--sm-11 {
    width: 91.6666666667%; }
  .flx--sm-12 {
    width: 100%; }
  .flx--sm-fit {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

@media (min-width: 1024px) {
  .flx--md-1 {
    width: 8.3333333333%; }
  .flx--md-2 {
    width: 16.6666666667%; }
  .flx--md-3 {
    width: 25%; }
  .flx--md-4 {
    width: 33.3333333333%; }
  .flx--md-5 {
    width: 41.6666666667%; }
  .flx--md-6 {
    width: 50%; }
  .flx--md-7 {
    width: 58.3333333333%; }
  .flx--md-8 {
    width: 66.6666666667%; }
  .flx--md-9 {
    width: 75%; }
  .flx--md-10 {
    width: 83.3333333333%; }
  .flx--md-11 {
    width: 91.6666666667%; }
  .flx--md-12 {
    width: 100%; }
  .flx--md-fit {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

@media (min-width: 1230px) {
  .flx--lg-1 {
    width: 8.3333333333%; }
  .flx--lg-2 {
    width: 16.6666666667%; }
  .flx--lg-3 {
    width: 25%; }
  .flx--lg-4 {
    width: 33.3333333333%; }
  .flx--lg-5 {
    width: 41.6666666667%; }
  .flx--lg-6 {
    width: 50%; }
  .flx--lg-7 {
    width: 58.3333333333%; }
  .flx--lg-8 {
    width: 66.6666666667%; }
  .flx--lg-9 {
    width: 75%; }
  .flx--lg-10 {
    width: 83.3333333333%; }
  .flx--lg-11 {
    width: 91.6666666667%; }
  .flx--lg-12 {
    width: 100%; }
  .flx--lg-fit {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

.flx-full {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding: 0;
  max-width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  z-index: 9999;
  pointer-events: none;
  visibility: hidden; }
  .grid-visible .grid {
    visibility: visible; }

.grid, .grid__col, .grid__inner {
  height: 100%; }

.grid__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-width: 8.3333333333%;
  padding: 0 1rem; }
  @media (max-width: 600px) {
    .grid__col {
      min-width: 16.6666666667%; } }

.grid__inner {
  background: rgba(255, 105, 180, 0.33);
  border: solid rgba(255, 105, 180, 0.4);
  border-width: 0 1px; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* ===================================================
BASE
=================================================== */
*, *:before, *:after {
  box-sizing: border-box;
  outline: 0 none; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio, canvas, img, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #636462;
  background: #CCD1CC;
  background: red;
  margin: 0;
  padding: 0;
  font-size: 1rem; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===================================================
GENERAL TEXT
=================================================== */
ul, li {
  margin: 0;
  padding: 0; }

p {
  line-height: 1.45; }

em {
  font-style: normal; }

h2 {
  font-size: 3rem; }

.section__header {
  text-align: center;
  margin: 0 auto 3rem;
  max-width: 40rem; }
  .section__header h2, .section__header p {
    margin-bottom: .25em; }
  .section__header h2 {
    font-weight: 100; }
  .section__header p {
    font-weight: 300; }
    .section__header p span {
      display: block; }

/* ===================================================
GENERAL LAYOUT
=================================================== */
.scrollpos-raf {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: .5em 1em;
  z-index: 9999; }

.scrollpos-scroll {
  position: fixed;
  bottom: 2em;
  right: 0;
  color: #fff;
  background: #000;
  padding: .5em 1em;
  z-index: 9999; }

.scrollpos {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: .5em 1em;
  z-index: 9999; }

.wrapper {
  overflow: hidden; }

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 20em;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto; }

/* ===================================================
Social Media Links
=================================================== */
.sm-links {
  list-style: none; }
  .sm-links li {
    display: inline-block; }

.sm-link {
  display: inline-block; }

/* ===================================================
BUTTONS
=================================================== */
.btn {
  display: inline-block;
  background: transparent;
  padding: 1rem 20px;
  width: 270px;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  letter-spacing: .05em;
  border: 2px solid #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 300ms;
          transition: 300ms; }
  .btn:hover, .btn:focus {
    color: #fff;
    background: rgba(51, 51, 51, 0.1); }

/* ===================================================
FORMS
=================================================== */
.field input, .field textarea {
  display: block;
  width: 100%;
  border: 0 none;
  margin: 0 0 2rem; }
.field input {
  line-height: 2;
  border-bottom: 2px solid; }
.field textarea {
  padding: 1em;
  resize: none;
  border: 1px solid rgba(255, 255, 255, 0.25); }

.contactform .field input {
  background: transparent; }
.contactform .field textarea {
  background: transparent; }

/* ===================================================
SECTION CONTACT
=================================================== */
.contact {
  color: #CCD1CC;
  background: #111;
  background: -webkit-linear-gradient(70deg, #141414 50%, transparent 50.1%), -webkit-linear-gradient(110deg, #121212 50%, #21262b 50.1%, #121212), #141414;
  background: linear-gradient(20deg, #141414 50%, transparent 50.1%), linear-gradient(-20deg, #121212 50%, #21262b 50.1%, #121212), #141414;
  background-size: 100% 45rem;
  background-repeat: no-repeat;
  border-radius: 1rem; }

/* ===================================================
SECTION DEVELOPMENT
=================================================== */
.development {
  color: #CCD1CC;
  background: #333;
  -webkit-transform: matrix(1, -.075, 0, 1, 1, 1);
      -ms-transform: matrix(1, -.075, 0, 1, 1, 1);
          transform: matrix(1, -.075, 0, 1, 1, 1);
  z-index: 1;
  margin: -1% 0; }
  .development .container {
    -webkit-transform: matrix(1, .075, 0, 1, 1, 1);
        -ms-transform: matrix(1, .075, 0, 1, 1, 1);
            transform: matrix(1, .075, 0, 1, 1, 1); }

/* ===================================================
SECTION PROJECTS
=================================================== */
.projects {
  color: #636462;
  background: #fff;
  background: -webkit-linear-gradient(top, #fff, #D9D9D9);
  background: linear-gradient(to bottom, #fff, #D9D9D9);
  background: -webkit-radial-gradient(50% 10%, circle farthest-corner, #fff, #D9D9D9);
  background: radial-gradient(circle farthest-corner at 50% 10%, #fff, #D9D9D9); }

.project-teasers .project-teaser {
  margin-bottom: 1rem;
  padding-top: 66%;
  background: #fff;
  -webkit-transition: 200ms;
          transition: 200ms;
  cursor: pointer;
  box-shadow: 0 .25rem .5rem -.25rem rgba(0, 0, 0, 0.2); }
  .project-teasers .project-teaser:hover {
    box-shadow: 0 .25rem .5rem -.25rem rgba(0, 0, 0, 0.85); }

/* ===================================================
SECTION STAGE
=================================================== */
.stage {
  background: #CCD1CC url('../img/stage/felix-leupold-stage.jpg') right bottom no-repeat;
  background: #CCD1CC;
  overflow: hidden;
  background-size: 100% auto; }

.xiel-logo {
  position: fixed;
  left: 0;
  right: 0;
  margin: 5% auto;
  z-index: 9999; }
  .xiel-logo a {
    display: block;
    overflow: hidden;
    margin: 0 auto; }
    .xiel-logo a:before {
      display: block;
      content: ' ';
      width: 100%;
      height: 100%; }

.welcoming {
  font-size: 1.3rem; }

.stage-hello {
  display: block;
  color: #041231;
  font-size: 64px;
  font-weight: 100; }

.sm-link--github, .sm-link--twitter, .xiel-logo a {
  background-image: url("../img/sprites/sprites-icons-sprite.svg"); }

.sm-link--github, .sm-link--twitter, .xiel-logo a {
  background-size: 225px 125px; }

.no-svg .sm-link--github, .no-svg .sm-link--twitter, .no-svg .xiel-logo a, .xiel-logo .no-svg a {
  background-image: url("../img/sprites/sprites-icons-sprite-medium.png"); }

.sm-link--github {
  width: 46px;
  height: 36px;
  background-position: 0 0; }

.sm-link--twitter {
  width: 39px;
  height: 31px;
  background-position: -55px 0; }

.xiel-logo a {
  width: 120px;
  height: 120px;
  background-position: -100px 0; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	* Don't show links for images, or javascript/internal links
	*/
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }
