/* ===================================================
BASE
=================================================== */

* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
		outline: 0 none;
	}
}


html {
	font-size: 62.5%;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

body {
	position: relative;
	font-family: "Roboto", sans-serif;
	color: $color-text-default;
	background: #CCD1CC;
	background: red;
	margin: 0;
	padding: 0;
	font-size: 1.7rem;
	font-weight: 300; //light
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ===================================================
GENERAL TEXT
=================================================== */

ul, li {
	margin: 0;
	padding: 0;
}

p {
	// font-size: 1.6rem;
	line-height: 1.45;
}

em {
	font-style: normal;
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 2.5rem;
	font-weight: 100; //thin
}

.section__header {
	text-align: center;
	margin: 0 auto 6rem;
	max-width: 64rem;

	h2, p {
		margin-bottom: .25em;
	}

	h2 {
		font-weight: 100; //thin
	}

	p {
		font-weight: 300; //light

		span {
			display: block;
		}
	}
}

/* ===================================================
GENERAL LAYOUT
=================================================== */

.scrollpos-raf {
	position: fixed;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: .5em 1em;
	z-index: 9999;
}
.scrollpos-scroll {
	position: fixed;
	bottom: 2em;
	right: 0;
	color: #fff;
	background: #000;
	padding: .5em 1em;
	z-index: 9999;
}

.scrollpos {
	position: fixed;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: .5em 1em;
	z-index: 9999;
}

.wrapper {
	overflow: hidden;
}

.section {
	position: relative;
	// overflow: hidden;
	width: 100%;
	padding: 4% 0;
	// min-height: 20em;
	// min-height: 100vh;
	// padding: 3rem 0;

	display: flex;
	flex-direction: column;
	// justify-content: center;
	// align-content: center;
	// border-bottom: 5px solid white;
}

.container {
	padding: 0 4rem;
	width: 100%;
	max-width: $content-container-max;
	margin: 2rem auto;
}


/* ===================================================
Social Media Links
=================================================== */

.sm-links {
	list-style: none;

	li {
		display: inline-block;
	}
}

.sm-link {
	@extend %ir;
	display: inline-block;
}

.sm-link--twitter {
	@extend %sprites-twitter;
}


.sm-link--github {
	@extend %sprites-github;
}