/* ===================================================
BASE
=================================================== */

* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

body {
	position: relative;
	font-family: "Roboto", sans-serif;
	color: $color-text-default;
	background: #CCD1CC;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.xiel-logo {
	// position: fixed;
	// top: 5%;
	// left: 0;
	// right: 0;
	margin: 5% auto;
	
	a {
		@extend %sprites-xiel-logo;
		display: block;
		overflow: hidden;
		margin: 0 auto;

		&:before {
			display: block;
			content: ' ';
			width: 100%;
			height: 100%;
		}
	}
}

/* ===================================================
GENERAL TEXT
=================================================== */

ul, li {
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.45;
}

em {
	font-style: normal;
}

h2 {
	font-size: 3rem;
}

.section__header {
	text-align: center;
	margin: 0 auto 3rem;
	max-width: 40rem;

	h2, p {
		margin-bottom: .25em;
	}

	h2 {
		font-weight: 100; //thin
	}

	p {
		font-weight: 300; //light

		span {
			display: block;
		}
	}
}

/* ===================================================
GENERAL LAYOUT
=================================================== */

.section {
	position: relative;
	overflow: hidden;
	min-height: 20em;
	min-height: 100vh;
	padding: 3rem 0;
	// border-bottom: 5px solid white;
}

.grid {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	height: 100%;
	max-width: 1000px;

	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	z-index: 9999;
	pointer-events: none;

	body:hover & {
		visibility: hidden;
		opacity: 0;
	}
}

.grid, .grid__col, .grid__inner {
	height: 100%;
}

.grid__col {
	flex: 1 0 auto;
	padding: 0 .5rem;
	// min-width: 3rem;
}

.grid__inner {
	background: rgba(hotpink, .33);
	border: solid rgba(hotpink, .4);
	border-width: 0 1px;
}


.container {
	padding: 0 .5rem;
	max-width: 1000px;
	margin: 2rem auto;
}

.flx-group {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;

	margin: 0 -.5rem;



	// margin-right: -.5rem;
	// margin-left: -.5rem;
}

.flx-group--centered {
	justify-content: center;
}

.flx-group--end {
	justify-content: center;
}

.flexbox {
	background: rgba(cyan, .1);
	padding: 0 .5rem;
	flex: 1 0 auto;
	flex-basis: 33.33%;
	max-width: 33.33%;
	background-clip: content-box;
	// padding: 0 .5rem;
}

.flexbox-3 {
	flex: 0 2 auto;
}


/* ===================================================
Social Media Links
=================================================== */

.sm-links {
	list-style: none;

	li {
		display: inline-block;
	}
}

.sm-link {
	@extend %ir;
	display: inline-block;
}

.sm-link--twitter {
	@extend %sprites-twitter;
}


.sm-link--github {
	@extend %sprites-github;
}