---
title: Home
menuLink: Home
sortOrder: 01
---

<div class="scrollpos-raf">0</div>
<div class="scrollpos-scroll">0</div>

<h1 class="xiel-logo">
	<a href="#">
		xiel development
	</a>
</h1>

<section class="section stage" id="stage">

	<div class="stage-hero"
		data-anchor-target="#stage"
		data-top="transform:translateY(0vh); opacity[swing]: 1"
		data-top-bottom="transform:translateY(15vh); opacity: 0" {{!-- filter: blur(0px); --}}
	>
		<img src="img/stage/felix-leupold-stage.jpg" alt="">
		{{!-- <img src="img/stage/felix-leupold-stage-blurred-2.jpg" class="blurred" alt=""
			data-anchor-target="#stage"
			data-40p="opacity: 0"
			data-50p="opacity: 1"
		> --}}
	</div>

	<div class="container">

		<div class="flx-group">
			<div class="flx--md-12">
				<div class="welcoming" 
					data-anchor-target="#stage"
					data-0="transform[swing]:translateY(0vh); opacity: 1"
					data-top-bottom="transform:translateY(-5vh); opacity: 0"
				>
					<p>
						<em class="stage-hello"
						>
							Hallo!
						</em>
						I am Felix – a freelance FrontEnd web developer from Berlin.<br>
						HTML, CSS & JavaScript are my passion ♡
					</p>
					<button class="btn">
						Say hello!
					</button>
					<ul class="sm-links">
						<li>
							<a href="#" class="sm-link sm-link--twitter">Twitter</a>
						</li>
						<li>
							<a href="#" class="sm-link sm-link--github">Github</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	
</section>

<section class="section development">

	<canvas></canvas>

	<div class="container">
		<header class="section__header">
			<h2>Modern FrontEnd development</h2>
			<p>Dolorem eius ea fugiat consectetur vero suscipit aliquid a quae quidem explicabo consequuntur expedita cupiditate totam facilis, temporibus aspernatur ratione iure.</p>
		</header>

		<div class="flx-group">
			<div class="flx--sm-4"
				data-anchor-target=".section.development"
				data-top="transform:translateY(1vh); opacity: 0"
				data--10p-top="transform:translateY(0vh); opacity: 1"
			>
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>UX & Design</h3>
				<p>Interdisplinär, Schnittstelle zwischen UX, Design und Technik… Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-4"
				data-anchor-target=".section.development"
				data--10p-top="transform:translateY(1vh); opacity: 0"
				data--20p-top="transform:translateY(0vh); opacity: 1"
			>
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Futureproof & Responsive</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-4"
				data-anchor-target=".section.development"
				data--20p-top="transform:translateY(1vh); opacity: 0"
				data--30p-top="transform:translateY(0vh); opacity: 1"
			>
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Futureproof & Responsive</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
		</div>

		{{!-- <hr>

		<div class="flx-group">
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>UX & Design</h3>
				<p>Interdisplinär, Schnittstelle zwischen UX, Design und Technik… Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Futureproof & Responsive</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Bulletproof Frameworks</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>

			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>UX & Design</h3>
				<p>Interdisplinär, Schnittstelle zwischen UX, Design und Technik… Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Futureproof & Responsive</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Bulletproof Frameworks</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3 flx--md-fit">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Bulletproof FITITTTT</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
		</div> --}}

	</div>

</section>

<section class="section projects">

	<div class="container">
		<header class="section__header">
			<h2>< Projects</h2>
			<p>Überschrift nach Links schieben, als zurückbutton! < Dolorem eius ea fugiat consectetur vero suscipit aliquid a quae quidem explicabo consequuntur expedita cupiditate totam facilis, temporibus aspernatur voluptatem ratione iure.</p>
		</header>

		<div class="flx-group project-teasers">
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 1</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 2</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iusto cupiditate et adipisci optio dolore, totam dolor. Magni aut voluptas, dolorem laudantium beatae. Laudantium ex incidunt saepe, fugit quas quaerat.</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Projectasdas 4 dasdasd a adasasdasdasda</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 5</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 6</div>
			</div>
		</div>

	</div>

</section>

<section class="section contact">

	<div class="container">
		<header class="section__header">
			<h2>Let's talk</h2>
			<p>
				<span>You need some help to improve your website or want to start a new project? </span>
				<span>Write me about your plans and we can make it happen!</span>
			</p>
		</header>

		<form class="contactform">
			<div class="flx-group flx-group--centered">
				<div class="field flx--sm-4 flx--md-3">
					<!-- <label for="">Name</label> -->
					<input type="text" placeholder="Name">
				</div>
				<div class="field flx--sm-4 flx--md-3">
					<!-- <label for="">Email</label> -->
					<input type="text" placeholder="Email">
				</div>
			</div>
			<div class="flx-group flx-group--centered">
				<div class="field flx--sm-8 flx--md-6">
					<textarea name="" id="" cols="30" rows="10" placeholder="Hello Felix!"></textarea>

					<button class="btn">
						Say hello!
					</button>
				</div>
			</div>
			
		</form>

		

	
	</div>

</section>

