---
title: Home
menuLink: Home
sortOrder: 01
---

<!-- <section class="section" style="min-height: 50vh">
	<h3>Place your content here!</h3>
</section> -->

<section class="section stage" id="stage">
	<h1 class="xiel-logo">
		<a href="#">
			xiel development
		</a>
	</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				
				<p>
					<em class="stage-hello">Hallo!</em>
					<em class="stage-hello">Hallo!</em>
					<em class="stage-hello">Hallo!</em>
					I am Felix – a freelance FrontEnd web developer from Berlin.<br>
					HTML, CSS and JavaScript are my passion <3
				</p>
				<button class="btn">
					Say hello!
				</button>
				<ul class="sm-links">
					<li>
						<a href="#" class="sm-link sm-link--twitter">Twitter</a>
					</li>
					<li>
						<a href="#" class="sm-link sm-link--github">Github</a>
					</li>
				</ul>

			</div>
		</div>
	</div>



	<div class="container">

		<div class="flexbox-wrapper">
			<div class="flexbox">1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, veritatis vitae aut, illum similique animi corrupti harum consequatur possimus alias velit voluptates distinctio iusto ex! Sit distinctio error totam ullam!</div>
			<div class="flexbox">2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere accusamus possimus, aliquam vel est commodi asperiores totam, nemo eius itaque excepturi omnis deserunt, magnam officiis consequuntur nesciunt libero, eligendi tempore?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia possimus corporis, ipsa consequuntur quos iure similique, ipsam dicta expedita deserunt quia, officiis architecto, illum ratione impedit deleniti suscipit totam rerum!</div>
		</div>

	</div>

	<div class="container">

		<div class="flexbox-wrapper flexbox-wrapper--centered">
			<div class="flexbox">1 lalalalalala</div>
		</div>

	</div>
	
</section>

<section class="section">
	<h3>Place your content here!</h3>
</section>

<section class="section">
	<h3>Place your content here!</h3>
</section>

<section class="section">
	<h3>
		Place your content here!
	</h3>
	<h4>Rückruf vereinbaren</h4>
	<p>
		Bitte wählen Sie einen Rückruf-Termin
		<input type="time">
	</p>
</section>