---
title: Home
menuLink: Home
sortOrder: 01
---

<div class="scrollpos-raf">0</div>
<div class="scrollpos-scroll">0</div>

<h1 class="xiel-logo">
	<a href="#">
		xiel development
	</a>
</h1>

<section class="section stage" id="stage">

	<div class="stage-hero"
		data-anchor-target="#stage"
		data-top="transform:translateY(0vh); opacity[swing]: 1"
		data-top-bottom="transform:translateY(15vh); opacity: 0" {{!-- filter: blur(0px); --}}
	>
		<img src="img/stage/felix-leupold-stage.jpg" alt="">
		{{!-- <img src="img/stage/felix-leupold-stage-blurred-2.jpg" class="blurred" alt=""
			data-anchor-target="#stage"
			data-40p="opacity: 0"
			data-50p="opacity: 1"
		> --}}
	</div>

	<div class="container">

		<div class="flx-group">
			<div class="flx--md-12">
				<div class="welcoming" 
					data-anchor-target="#stage"
					data-0="transform[swing]:translateY(0vh); opacity: 1"
					data-top-bottom="transform:translateY(-5vh); opacity: 0"
				>
					<p>
						<em class="stage-hello"
						>
							Hallo!
						</em>
						I am Felix – a freelance FrontEnd web developer from Berlin.<br>
						HTML, CSS & JavaScript are my passion ♡
					</p>
					<button class="btn">
						Say hello!
					</button>
					{{!-- <ul class="sm-links">
						<li>
							<a href="#" class="sm-link sm-link--twitter">Twitter</a>
						</li>
						<li>
							<a href="#" class="sm-link sm-link--github">Github</a>
						</li>
					</ul> --}}
				</div>
			</div>
		</div>

	</div>
	
</section>

<section class="section development">

	{{!-- <canvas></canvas> --}}

	<div class="container">
		<header class="section__header">
			<h2>Modern Web Development</h2>
			<p>Interdisplinär, Schnittstelle zwischen UX, Design und Technik… 
				ae quidem explicabo consequuntur expedita cupiditate totam facilis, temporibus aspernatur ratione iure.</p>
		</header>

		<div class="flx-group">
			<div class="flx--sm-4 dev-feature"
				{{!-- data-anchor-target=".section.development"
				data-top="transform:translateY(1vh); opacity: 0"
				data--10p-top="transform:translateY(0vh); opacity: 1" --}}
			>
				<div>
					<svg width="272px" height="272px" viewBox="0 0 272 272" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
						<title>basic_lightbulb + Oval 10 Copy 4</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Centered-Logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-183.000000, -1095.000000)" stroke="#D0011B" stroke-width="2">
								<g id="Projekte-Copy" sketch:type="MSLayerGroup" transform="translate(0.000000, 755.000000)">
									<g id="basic_lightbulb-+-Oval-10-Copy-4" transform="translate(184.000000, 341.000000)" sketch:type="MSShapeGroup">
										<g id="basic_lightbulb" transform="translate(98.000000, 80.000000)">
											<path d="M17.6190476,68.8690476 L17.6190476,77.6984127 L56.3809524,77.6984127 L56.3827143,68.6800992 C66.952381,62.1499008 74,50.4403968 74,37.0833333 C74,16.6027381 57.4345714,0 37,0 C16.5654286,0 0,16.6027381 0,37.0833333 C0,50.4421627 7.04409524,62.342381 17.6190476,68.8690476 L17.6190476,68.8690476 Z"></path>
											<path d="M29.6,78.5714286 L24.3764706,42.7777778"></path>
											<path d="M44.4,78.5714286 L49.6235294,42.7777778"></path>
											<path d="M24.3764706,44.5238095 L31.3411765,49.7619048 L36.5647059,44.5238095 L41.7882353,49.7619048 L48.7529412,44.5238095"></path>
											<rect id="Rectangle-path" x="17.4117647" y="77.6984127" width="39.1764706" height="10.4761905"></rect>
											<rect id="Rectangle-path" x="20.8941176" y="89.047619" width="31.3411765" height="10.4761905"></rect>
											<rect id="Rectangle-path" x="24.3764706" y="99.5238095" width="24.3764706" height="10.4761905"></rect>
										</g>
										<path d="M135,270 C209.558441,270 270,209.558441 270,135 C270,80.2417622 237.398248,33.0980717 190.546191,11.9203758 C173.604808,4.26266617 154.800203,0 135,0 C60.4415588,0 0,60.4415588 0,135 C0,209.558441 60.4415588,270 135,270 Z"></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</div>

				<h3>User Experience</h3>
				<p>Interdisplinär, Schnittstelle zwischen UX, Design und Technik… Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!
					
				</p>
			</div>
			<div class="flx--sm-4 dev-feature"
				{{!-- data-anchor-target=".section.development"
				data--10p-top="transform:translateY(1vh); opacity: 0"
				data--20p-top="transform:translateY(0vh); opacity: 1" --}}
			>

				<div>
					<svg width="272px" height="272px" viewBox="0 0 272 272" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<title>design</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Centered-Logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-584.000000, -1095.000000)" stroke="#81CF2A" stroke-width="2">
								<g id="Projekte-Copy" sketch:type="MSLayerGroup" transform="translate(0.000000, 755.000000)">
									<g id="design" transform="translate(585.000000, 341.000000)" sketch:type="MSShapeGroup">
										<g id="software_paintbrush" transform="translate(87.000000, 83.000000)">
											<path d="M49,68.3333333 L42.3333333,75 L29,61.6666667 L35.6666667,55 L102.333333,0 L104,1.66666667 L49,68.3333333 Z" id="Shape"></path>
											<path d="M35,55 L48,68" id="Shape"></path>
											<path d="M42,75.44 C42,75.44 28.56,104 0,104 C0,104 4.62336,76.59248 15.12,68.72 C21.84,63.68 28.56,62 28.56,62" id="Shape"></path>
										</g>
										<path d="M135,270 C209.558441,270 270,209.558441 270,135 C270,80.2417622 237.398248,33.0980717 190.546191,11.9203758 C173.604808,4.26266617 154.800203,0 135,0 C60.4415588,0 0,60.4415588 0,135 C0,209.558441 60.4415588,270 135,270 Z" id="Oval-10-Copy-4"></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</div>
				<h3>Design</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-4 dev-feature"
				{{!-- data-anchor-target=".section.development"
				data--20p-top="transform:translateY(1vh); opacity: 0"
				data--30p-top="transform:translateY(0vh); opacity: 1" --}}
			>
				<div>
					<svg width="272px" height="272px" viewBox="0 0 272 272" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<title>technology</title>
						<desc>Created with Sketch.</desc>
						<defs></defs>
						<g id="Centered-Logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-984.000000, -1095.000000)" stroke="#3C99C8" stroke-width="2">
								<g id="Projekte-Copy" sketch:type="MSLayerGroup" transform="translate(0.000000, 755.000000)">
									<g id="technology" transform="translate(985.000000, 341.000000)" sketch:type="MSShapeGroup">
										<g id="basic_keyboard" transform="translate(73.000000, 70.000000)">
											<rect id="Rectangle-path" x="0" y="37" width="130" height="63"></rect>
											<path d="M12,37 L12,20.5555556 L42,20.5555556 L42,6.16666667 L20.5714286,6.16666667 L20.5714286,0" id="Shape"></path>
											<path d="M7,51 L15,51" id="Shape"></path>
											<path d="M19,51 L27,51" id="Shape"></path>
											<path d="M32,51 L40,51" id="Shape"></path>
											<path d="M44,51 L52,51" id="Shape"></path>
											<path d="M56,51 L64,51" id="Shape"></path>
											<path d="M69,51 L77,51" id="Shape"></path>
											<path d="M81,51 L89,51" id="Shape"></path>
											<path d="M94,51 L102,51" id="Shape"></path>
											<path d="M107,51 L115,51" id="Shape"></path>
											<path d="M7,86 L15,86" id="Shape"></path>
											<path d="M19,86 L27,86" id="Shape"></path>
											<path d="M32,86 L86,86" id="Shape"></path>
											<path d="M103,86 L111,86" id="Shape"></path>
											<path d="M116,86 L124,86" id="Shape"></path>
											<path d="M91,86 L99,86" id="Shape"></path>
											<path d="M14,69 L22,69" id="Shape"></path>
											<path d="M27,69 L35,69" id="Shape"></path>
											<path d="M39,69 L47,69" id="Shape"></path>
											<path d="M53,69 L61,69" id="Shape"></path>
											<path d="M65,69 L73,69" id="Shape"></path>
											<path d="M77,69 L85,69" id="Shape"></path>
											<path d="M91,69 L99,69" id="Shape"></path>
											<path d="M103,69 L111,69" id="Shape"></path>
											<path d="M116,69 L124,69" id="Shape"></path>
										</g>
										<path d="M135,270 C209.558441,270 270,209.558441 270,135 C270,80.2417622 237.398248,33.0980717 190.546191,11.9203758 C173.604808,4.26266617 154.800203,0 135,0 C60.4415588,0 0,60.4415588 0,135 C0,209.558441 60.4415588,270 135,270 Z" id="Oval-10-Copy-4"></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</div>
				<h3>Technology</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
		</div>

		{{!-- <hr>

		<div class="flx-group">
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>UX & Design</h3>
				<p>Interdisplinär, Schnittstelle zwischen UX, Design und Technik… Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Futureproof & Responsive</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Bulletproof Frameworks</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>

			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>UX & Design</h3>
				<p>Interdisplinär, Schnittstelle zwischen UX, Design und Technik… Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Futureproof & Responsive</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Bulletproof Frameworks</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
			<div class="flx--sm-3 flx--md-fit">
				<div style="text-align: center; font-size: 10rem;">╳</div>
				<h3>Bulletproof FITITTTT</h3>
				<p>Facere, architecto eum nihil consequuntur molestias mollitia culpa quae dolores sapiente dolor autem blanditiis officiis aspernatur laboriosam magnam ad optio commodi nesciunt!</p>
			</div>
		</div> --}}

	</div>

</section>

<section class="section projects">

	<div class="container">
		<header class="section__header">
			<h2>< Projects</h2>
			<p>Überschrift nach Links schieben, als zurückbutton! < Dolorem eius ea fugiat consectetur vero suscipit aliquid a quae quidem explicabo consequuntur expedita cupiditate totam facilis, temporibus aspernatur voluptatem ratione iure.</p>
		</header>

		<div class="flx-group project-teasers">
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 1</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 2</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iusto cupiditate et adipisci optio dolore, totam dolor. Magni aut voluptas, dolorem laudantium beatae. Laudantium ex incidunt saepe, fugit quas quaerat.</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Projectasdas 4 dasdasd a adasasdasdasda</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 5</div>
			</div>
			<div class="flx--xs-6 flx--sm-4">
				<div class="project-teaser">Project 6</div>
			</div>
		</div>

	</div>

</section>

<section class="section contact">

	<div class="container">
		<header class="section__header">
			<h2>Let's talk</h2>
			<p>
				<span>You need some help to improve your website or want to start a new project? </span>
				<span>Write me about your plans and we can make it happen!</span>
			</p>
		</header>

		<form class="contactform">
			<div class="flx-group flx-group--centered">
				<div class="field flx--sm-4 flx--md-3">
					<!-- <label for="">Name</label> -->
					<input type="text" placeholder="Name">
				</div>
				<div class="field flx--sm-4 flx--md-3">
					<!-- <label for="">Email</label> -->
					<input type="text" placeholder="Email">
				</div>
			</div>
			<div class="flx-group flx-group--centered">
				<div class="field flx--sm-8 flx--md-6">
					<textarea name="" id="" cols="30" rows="10" placeholder="Hello Felix!"></textarea>
					
					<div class="btn-group">
						<button class="btn">
							Say hello!
						</button>
					</div>

					<div class="btn-group btn-group--right">
						<button class="btn">
							Say hello!
						</button>
					</div>
					
				</div>
			</div>
			
		</form>

		

	
	</div>

</section>

