---
title: Home
menuLink: Home
sortOrder: 01
---

<div class="grid">
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
	<div class="grid__col"><div class="grid__inner"></div></div>
</div>

<section class="section stage">
	<h1 class="xiel-logo">
		<a href="#">
			xiel development
		</a>
	</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				
				<p>
					<em class="stage-hello">Hallo!</em>
					I am Felix – a freelance FrontEnd web developer from Berlin.<br>
					HTML, CSS and JavaScript are my passion <3
				</p>
				<button class="btn">
					Say hello!
				</button>
				<ul class="sm-links">
					<li>
						<a href="#" class="sm-link sm-link--twitter">Twitter</a>
					</li>
					<li>
						<a href="#" class="sm-link sm-link--github">Github</a>
					</li>
				</ul>

			</div>
		</div>
	</div>



	<div class="container">
		<div class="flexbox-wrapper">
			<div class="flexbox">1 lalalalalala</div>
			<div class="flexbox">2 lalalalalala</div>
			<div class="flexbox">2 lalalalalala</div>
			<div class="flexbox">2 lalalalalala</div>
			<div class="flexbox">2 lalalalalala</div>
			<div class="flexbox flexbox-3">3 lalalalalala</div>
		</div>
	</div>
	
</section>

<section class="section">
	<h3>Place your content here!</h3>

</section>

<section class="section">
	<h3>Place your content here!</h3>
</section>

<section class="section">
	<h3>
		Place your content here!
	</h3>
	<h4>Rückruf vereinbaren</h4>
	<p>
		Bitte wählen Sie einen Rückruf-Termin
		<input type="time">
	</p>
</section>