/* ===================================================
BUTTONS
=================================================== */

.btn {
	display: inline-block;
	background: transparent;
	padding: 1rem 20px;
	width: 270px;
	color: #fff;
	font-family: inherit;
	font-size: 2rem;
	letter-spacing: .05em;
	border: 2px solid #fff;
	text-transform: uppercase;
	cursor: pointer;
	transition: 300ms;

	&:hover, &:focus {
		color: #fff;
		background: rgba(#333, .1);
	}
}