/* ===================================================
BUTTONS
=================================================== */

.btn {
	display: inline-block;
	background: transparent;
	margin: $margin-default 0;
	padding: .75em 2em;
	min-width: 27.5rem;
	color: #fff;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: .05em;
	border: 0.3rem solid #fff;
	text-transform: uppercase;
	cursor: pointer;
	transition: 300ms;

	&:hover, &:focus {
		color: #fff;
		background: rgba(#333, .1);
	}
}

.btn--block {
	width: 100%;
}

.btn-group {
	// display: inline-block;
}

.btn-group--right {
	text-align: right;
}

.btn-group--center {
	text-align: center;
}