/* ===================================================
FORMS
=================================================== */


.field {

	input,
	textarea {
		display: block;
		width: 100%;
		border: 0 none;
		margin: 0 0 2rem;
	}

	input {
		line-height: 2;
		border-bottom: 2px solid;
		// background: #000;
	}

	textarea {
		padding: 1em;
		resize: none;
		border: 1px solid rgba(#fff, .25);
		// border-left: 1px solid;
	}

}

.contactform {
	.field {

		input {
			background: transparent;
		}

		textarea {
			background: transparent;
			// background: #262626;
			// background: rgba(#000, .1);
		}
	}
}