/* ===================================================
SECTION STAGE
=================================================== */

.stage {
	background: #CCD1CC url('../img/stage/felix-leupold-stage.jpg') right bottom no-repeat;
	background-size: auto 100%;
	overflow: hidden;
	// background-attachment: fixed;
}


.welcoming {
	font-size: 1.3rem;
}

.stage-hello {
	display: block;
	color: $color-key;
	color: blue;
	font-size: 64px;
	font-weight: 100;
}