/* ===================================================
SECTION PROJECTS
=================================================== */

.projects {
	color: $color-text-default;
	background: #fff;
	background: linear-gradient(to bottom, #fff, #D9D9D9);
	background: radial-gradient(circle farthest-corner at 50% 10%, #fff, #D9D9D9);
}

.project-teasers {
	.project-teaser {
		margin-bottom: 1rem;
		padding-top: 66%;
		background: #fff;
		transition: 200ms;
		cursor: pointer;
		box-shadow: 0 .25rem .5rem -.25rem rgba(#000, .2);

		&:hover {
			box-shadow: 0 .25rem .5rem -.25rem rgba(#000, .85);
		}
	}
}