/* ===================================================
SECTION PROJECTS
=================================================== */

.projects {
	color: $color-text-default;
	background: #fff;
	background: linear-gradient(to bottom, #fff, #D9D9D9);
	background: radial-gradient(circle farthest-corner at 50% 10%, #fff, #D9D9D9);
}

.project-teasers {

}

.project-teaser {
	position: relative;
	overflow: hidden;
	display: block;
	margin: $margin-default 0;
	
}

.project-teaser__media {
	position: relative;
	overflow: hidden;

	img {
		display: block;
		height: auto;
		max-width: 100%;
		transition: 2000ms ease-in-out;
		transform: scale(1);

		a:hover &,
		a:focus & {
			transform: translatex(5%) scale(1.1);
			// filter: blur(2px);
		}
	}

	&:after {
		// @extend %pseudo;
		// width: 100%;
		// height: 100%;
		top: 1rem;
		right: 1rem;
		left: 1rem;
		bottom: 1rem;
		background: #111;
		opacity: 0;
		transition: 500ms ease-in-out;

		a:hover &,
		a:focus & {
			opacity: .5;
		}
	}
}

.project-teaser__desc {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 0 3rem;
	color: #fff;
	// text-align: center;
	// margin-top: -6rem;
	background: rgba(red, .3);
	background: linear-gradient(to bottom, rgba(#75c4c4, 1) 20%, rgba(#75c4c4, 0));
	background: linear-gradient(to bottom, rgba(#333, .8) 30%, rgba(#333, .1));
	transition: 300ms ease-out;
	// transform: translateY(27%);

	h3 {
		position: relative;
		font-weight: 400;
		margin: 1.2em 0 1em;
		padding-bottom: .5em;
		transition: inherit;
		
		// Underline
		// &:after {
		// 	@extend %pseudo;
		// 	bottom: 0;
		// 	width: 100%;
		// 	border-bottom: 2px solid;
		// 	transform: translateX(-150%);
		// 	transition: inherit;

		// 	a:hover &,
		// 	a:focus & {
		// 		transform: translateY(0.0001%);
		// 	}
		// }
	}

	ul, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.agency {
		display: block;
		font-size: .5em;
	}

	a:hover &,
	a:focus & {
		transform: translateY(0.0001%);
	}
}

.project-teaser__services {
	
	li {
		transform: translateX(10%);
		transition: 100ms ease-in;
		opacity: 0;
		display: inline-block;
		float: left;
		clear: both;
		color: #333;
		font-size: 1.2rem;
		line-height: 1;
		text-transform: uppercase;
		background: #fff;
		padding: .3em .25em;
		margin: .25em 0;

		a:hover &,
		a:focus & {
			transform: translateY(0.0001%);
			transition: 300ms ease-in-out;
			opacity: 1;

			@for $i from 1 through 10 {
				&:nth-child(#{$i}){	
					transition-delay: $i * 150ms;
				}
			}
		}
		
	}
}