/* ===================================================
SECTION CONTACT
=================================================== */

.contact {
	color: $color-text-light;
	background: #111;
	background: 
		linear-gradient(-20deg, hsl(214, 13%, 11%), hsl(214, 13%, 7%) 50%, hsla(214, 13%, 0%, 0) 50.1%),
		linear-gradient(20deg, hsl(214, 13%, 9%) 35%, hsl(214, 13%, 7%) 50%, hsl(214, 13%, 12%) 50.1%, hsl(214, 13%, 8%) 90% ),
		hsl(0, 0%, 8%)
	;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	// background-attachment: fixed;

	border-radius: 1rem;
	// width: 90%;
	// margin: 1rem;
}
