%icon-github { background-image: url('../img/png_icons/github.png'); background-repeat: no-repeat; }

%icon-list-icon-dark { background-image: url('../img/png_icons/list-icon-dark.png'); background-repeat: no-repeat; }

%icon-listitem-dark { background-image: url('../img/png_icons/listitem-dark.png'); background-repeat: no-repeat; }

%icon-twitter { background-image: url('../img/png_icons/twitter.png'); background-repeat: no-repeat; }

%icon-xiel-logo { background-image: url('../img/png_icons/xiel-logo.png'); background-repeat: no-repeat; }

