<form class="contactform" action="/contactform" method="post">
	<div class="flx-group flx-group--centered">
		<div class="field flx--sm-4 flx--md-3">
			<label for="name">Name</label>
			<input name="name" id="name" type="text" placeholder="Name">
		</div>
		<div class="field flx--sm-4 flx--md-3">
			<label for="email">Email</label>
			<input name="email" id="email" type="text" placeholder="Email">
		</div>
	</div>
	<div class="flx-group flx-group--centered">
		<div class="field flx--sm-8 flx--md-6">
			<label for="message">Nachricht</label>
			<textarea name="message" id="message" cols="30" rows="10" placeholder="Hello Felix!"></textarea>
			
			<div class="btn-group btn-group--right">
				<button class="btn btn--block">
					Say hello 2!
				</button>
			</div>
		</div>
	</div>
</form>