<section class="section contact">
	<div class="container">
		<header class="section__header">
			<h2>Let's talk</h2>
			<p>
				<span>You need some help to improve your website or want to start a new project? </span>
				<span>Write me about your plans and we can make it happen!</span>
			</p>
		</header>
	
		{{> contact/form}}
	</div>
</section>