{{#if messageSent}}

<section id="section-contact" class="section contact">
	<div class="container">
		<header class="section__header">
			<h2>Danke {{fields.name}}!</h2>
			<p>
				{{!-- <span>Got your message! I'll come back to you as soon as possible.</span> --}}
				<span>Ich habe deine Nachricht empfangen und antworte dir so schnell wie möglich!</span>
			</p>
		</header>
	</div>
</section>

{{else}}

<section id="section-contact" class="section contact js-rb-life" data-module="ajaxform">
	<div class="container">
		<header class="section__header">
			<h2>Los geht's</h2>
			{{!-- <p>
				<span>You need some help to improve your website or want to start a new project? </span>
				<span>Write me about your plans and we can make it happen!</span>
			</p> --}}
			<p>
				<span>Du möchtest deine Webseite verbessern oder ein neues Projekt starten?</span>
				<span>Schreib mir über dein Vorhaben, damit wir es schon bald in die Tat umsetzen können!</span>
			</p>
		</header>
		{{> contact/form}}
	</div>
</section>

{{/if}}
