/* ===================================================
FORMS
=================================================== */

.field {
	margin: $margin-default 0;

	input,
	textarea {
		display: block;
		width: 100%;
		transition: 200ms;
		border: 0 solid;
		border-color: #666;
		border-radius: 0;

		&:focus {
			border-color: initial;
		}
	}

	input {
		line-height: 2;
		border-bottom-width: 2px;
		// background: #000;

		// &:invalid {
		// 	border-bottom: 2px solid red;
		// }
	}

	textarea {
		padding: 1em;
		resize: none;
		border-width: 2px;
		white-space: normal;
	}
}

.g-recaptcha {
	// position: absolute;
	bottom: 0;
	right: 0;
	// display: flex;
	// 
	iframe {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		border: 0 none;
	}
}

.field__honey {
	display: none;
}

.field--error {
	input, textarea {
		border-bottom-color: $color-error;
	}
}

.field__error,
.form-errorbox p {
	@extend %small-font;
	color: $color-error;
	margin: .5em 0;
	text-transform: uppercase;
}

.form-errorbox {
    display: none;

    .is-invalid & {
        display: block;
    }
}

.contactform {

	.field {

		input {
			background: transparent;
		}

		textarea {
			background: transparent;
		}
	}

	label {
		@extend %visuallyhidden;
	}
}