/* ===================================================
SECTION PROJECTS
=================================================== */

.projects-wrapper {
	position: relative;

	.project--active {
		position: relative;
	}
}

.project-slide-wrapper {
	position: relative;
	overflow: hidden;
}

.progress-loader {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	width: 0%;
	border-bottom: 3px solid $color-key-cyan;
	z-index: 10;

	&.done {
		transition: opacity 500ms 100ms;
		opacity: 0;
	}
}

%project-section {
	color: $color-text-default;
	background: #fff;
	background: linear-gradient(to bottom, #fff, #EDEDED);
	background: radial-gradient(circle farthest-corner at 50% 10%, #fff, #EDEDED);
}

.projects {
	@extend %project-section;
	padding-top: 8%;
}

.project-teasers {
	transform: scale(1);
}

.project-teaser {
	position: relative;
	overflow: hidden;
	display: block;
	margin: $margin-default 0;
	padding-bottom: 600/800 * 99.99%;
	box-shadow: 0 0 0 3px #fff;
	transform: scale(1);
}

.project-teaser__media {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;

	img {
		position: absolute;
		display: block;
		width: 100%;
		height: auto;
		transform: scale(1.01);
		transition: transform 400ms ease-out;
		
		a[aria-expanded="true"] &,
		a:hover &,
		a.is-keyboardfocus & {
			transform: scale(1.05);
			filter: blur(2px);
		}
	}
}

.project-teaser__desc {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 0 3rem;
	color: #fff;
	text-align: center;
	padding-top: 25%;
	opacity: 0;
	background: $color-key-cyan;
	background: rgba($color-key-cyan, .9);
	background: linear-gradient(to bottom, rgba($color-key-cyan, .9), rgba($color-key-cyan, .96) );
	transition: 300ms ease-in-out;
	
	a[aria-expanded="true"] &,
	a:hover &,
	a.is-keyboardfocus & {
		opacity: 1;
		cursor: pointer;
		transform: translateY(0.001px);
	}

	h3 {
		position: relative;
		font-weight: 400;
		line-height: 1.1;
		margin: 0 0 .75em;
		padding-bottom: .75em;
		transition: inherit;
		transform: translateY(50%);
		
		a[aria-expanded="true"] &,
		a:hover &,
		a.is-keyboardfocus & {
			transform: scale(1);
		}
		
		//title kicker
		em {
			position: absolute;
			width: 100%;
			left: 0;
			font-size: .5em;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: .05em;
			bottom: 100%;
			opacity: .75;
		}

		// Underline
		&:after {
			@extend %pseudo;
			left: 0;
			right: 0;
			bottom: 0;
			width: 90%;
			margin: auto;
			border-bottom: 2px solid;
			transform: rotateY(90deg);
			transition: 500ms;
			transition-delay: 50ms;
			
			a[aria-expanded="true"] &,
			a:hover &,
			a.is-keyboardfocus & {
				transform: translateY(0.0001%);
			}
		}
	}

	ul, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.agency {
		display: block;
		font-size: .5em;
	}
}

.project-teaser__services {
	
	li {
		display: block;
		font-size: 1.6rem;
		line-height: 1.2;
		margin: .25em 0;
		font-style: italic;
		transition: 400ms;
		opacity: 0;
		transform: translateY(150%);
	
		a[aria-expanded="true"] &,
		a:hover &,
		a.is-keyboardfocus & {
			transform: translateY(0.0001%);
			opacity: 1;

			@for $i from 1 through 10 {
				&:nth-child(#{$i}){
					transition-delay: ($i - 1) * 100 + 200ms;
				}
			}
		}
		
	}
}

.project__media {
	margin-bottom: 2.9rem;

	img, video {
		display: block;
		width: 100%;
		height: auto;
		box-shadow: 0 0 25px -10px rgba(#000, .3);
	}

	.freeform {
		box-shadow: none;
	}

	figure {
		margin: 0;
	}

	figcaption {
		color: $color-text-light;
		padding: .5em;
		font-size: 1.4rem;
		line-height: 1.3;
	}
}

.project_link {
	@extend %text-link;
}

.project-default {
	@extend %project-section;

	.section__header {
		padding-top: 3rem;

		@media (max-width: $screen-xs-max) {
			padding-top: 6rem;
		}
	}
}

.project__details {
	margin-top: 2*1.45rem;

	> div {
		margin-bottom: 2 * 1.45rem;
	}
}

@keyframes slider-slide-in {
	0% {
		transform:  translateX(100%);
		// transform:  translateX(100vw);
	}
	100% {
		transform:  translateY(0%);
	}
}

.project__slider {
	position: relative;
}


.project__slider-viewport {
	overflow: visible !important;
	animation: slider-slide-in 1s cubic-bezier(.62,1.37,.52,.95);
}

.project__slider-slides {
	overflow: hidden;

	> div {
		opacity: .25;
		transition: opacity 500ms;
		cursor: pointer;
		padding: 0 1rem;
		
		&:hover {
			opacity: .3;
		}
	}

	.project__slider-active-slide {
		opacity: 1;
		cursor: default;

		&:hover {
			opacity: 1;
		}
	}
}

.project__slider-direction-nav {

	a {
		@extend %ir;
		position: absolute;
		top: 50%;
		width: 5rem;
		height: 5rem;
		border: 2px solid;
		box-shadow: 0 0 0 1px rgba(#000, .125);
		box-shadow: 0 .125rem 1rem rgba(#000, .125);
		background-color: #fff;
		background-color: rgba(#fff, .5);
		transform: translateY(-50%);
		background-position: center center;
		background-size: contain;

		&:hover,
		&.is-keyboardfocus {
			background-color: rgba(#fff, .75);
		}

		&:active {
			background-color: $color-gray-dark;
			transition: 0;
		}
	}

	.project__slider-prev {
		@extend %icon-prev;
		left: 1rem;

		@media (min-width: $screen-md) {
			left: -6rem;
		}
	}

	.project__slider-next {
		@extend %icon-next;
		right: 1rem;

		@media (min-width: $screen-md) {
			right: -6rem;
		}
	}
	
	.project__slider-disabled {
		visibility: hidden;
		display: none;
	}
}

//new
.projectview-panel-wrapper {
	position: relative;
	overflow: hidden;
	margin: auto;
	// outline: 2px solid blue;
}

.projectview-panel {
	position: relative;
	display: block;

	.js & {
		display: none;
		visibility: hidden;
		opacity: 0;
		transition: 200ms;
	}

	&.is-open {
		display: block;
		visibility: visible;
		opacity: 1;
		z-index: 1;
	}

	&.is-closing {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.projectview-content {
	padding: 30px;
	border: 1px solid red;
}




