/* ===================================================
SECTION DEVELOPMENT
=================================================== */

.itemscroller--development {
	@include rb-js-export((
		switchedOff: true
	));

	@media (max-width: $screen-xs-max) {
		@include rb-js-export((
			switchedOff: false
		));
	}
}

.development {
	background: #fff;
	z-index: 10;
	padding: 4% 0;

	&:before,
	&:after {
		@extend %pseudo;
		top: 0;
		left: 0;
		margin: 0;
		margin-top: -4%;
		width: 100%;
		height: 0;
		padding-bottom: 8%;
		background: #fff;
		opacity: 1;
		transform: matrix(1,-.075,0,1,1,1);
	}

	&:after {
		top: auto;
		bottom: 0;
		margin: 0;
		margin-bottom: -4%;
	}

	.container {
		position: relative;
		z-index: 1;
	}
}

.dev-feature {
	text-align: center;
	margin-bottom: 4rem;
}

.dev-feature--ux {
	h3 {
		color: $color-red;
	}
	path {
		stroke: $color-red;
	}
}

.dev-feature--design {
	h3 {
		color: $color-green;
	}
	path {
		stroke: $color-green;
	}
}

.dev-feature--tech {
	h3 {
		color: $color-blue;
	}
	path {
		stroke: $color-blue;
	}
}

.dev-feature__icon {
	position: relative;
	width: 20rem;
	padding-top: 1rem;
	padding-bottom: 20rem;
	margin: auto;
	margin-bottom: 3rem;

	svg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 100%;
	}

	@media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
		width: 15rem;
		padding-bottom: 15rem;
	}

	@media (max-width: $screen-sm-max) {
		width: 10rem;
		padding-bottom: 10rem;
	}
}

.dev-feature__text {
	overflow: hidden;
	text-align: center;
	max-width: 35rem;
	margin: 0 auto;

	p:last-child {
		margin-bottom: 0;
	}
}

.dev-technologies {
	position: relative;
	text-align: center;
	transition: 500ms;
	transition-property: opacity, visibility;
	
	&.rb-panel {
		@include rb-js-export((
			animation: "slide",
			scrollIntoView: true
		));
	}

	&:after {
		@extend %pseudo;
		top: auto;
		bottom: 0;
		left: 0;
		height: 0%;
		width: 100%;
		background: linear-gradient(to top, #fff, transparent);
		visibility: hidden;
	}

	&[aria-hidden="true"] {
		&:after {
			visibility: visible;
			height: 100%;
			transition: height 400ms;
			z-index: 5;
		}
	}

	h3 {
		margin-top: 4rem;
	}
}

.rb-panel {
	transition: opacity 400ms, visibility 400ms;

	.js & {
		display: block;
		overflow: hidden;
		visibility: hidden;
		height: 0;
		opacity: 0;
	}

	&[aria-hidden="false"] {
		visibility: inherit;
		overflow: visible;
		height: auto;
		opacity: 1;
	}

	@include rb-js-export((
		animation: "slide",
	));
}

.dev-technologies__list {
	position: relative;
	padding-bottom: 3rem;
	backface-visibility: hidden;

	li {
		font-size: 1.4rem;
		margin: 2rem 0;
		transform: scale(1);
		transition: 1.2s ease-out;
		transition: 1.2s cubic-bezier(.62,1.37,.52,.95);
		transition-property: transform, opacity;
		backface-visibility: hidden;

		@for $i from 1 through 12 {
			&:nth-child(#{$i}){
				transition-delay: ($i - 1) * 150 + 500ms;
			}
		}

		[aria-hidden="true"] & {
			transform: translateX(75vw);
			transition: 200ms;
			transition-delay: 200ms;
			opacity: 0;

			@media screen and (max-width: $screen-xs-max) {
				transform: translateY(100%);
			}
		}

		&:before {
			display: block;
			content: ' ';
			margin: 0 auto .5em;
			width: 100%;
			padding-bottom: 100%;
			background-size: contain;
			background-position: center center;
			border-radius: 50%;
			border: 1px solid $color-gray-lighter;

			@media screen and (max-width: $screen-md-max) {
				width: 15rem;
				height: 15rem;
				padding-bottom: 0;
			}

			@media screen and (max-width: $screen-sm-max) {
				width: 10rem;
				height: 10rem;
			}
		}
	}

	.grunt:before {
		@extend %icon-tech-grunt;
	}
	.sass:before {
		@extend %icon-tech-sass;
	}
	.es5:before {
		@extend %icon-tech-es5;
	}
	.nodejs:before {
		@extend %icon-tech-nodejs;
	}
	.html5:before {
		@extend %icon-tech-html5;
	}
	.silverstripe:before {
		@extend %icon-tech-silverstripe;
	}
}