%icon-github { background-image: url('../../assets/img/png_icons/github.png'); background-repeat: no-repeat; }

%icon-twitter { background-image: url('../../assets/img/png_icons/twitter.png'); background-repeat: no-repeat; }

%icon-xiel-logo { background-image: url('../../assets/img/png_icons/xiel-logo.png'); background-repeat: no-repeat; }

