@mixin sprites-bg-svg() {
	background-image: url("../img/sprites/sprites-icons-sprite.svg");
}
%sprites-bg-svg {
	@include sprites-bg-svg();
}
@mixin sprites-bg-size() {
	background-size: 225px 125px;
}
%sprites-bg-size {
	@include sprites-bg-size();
}

@mixin sprites-bg-png() {
	background-image: url("../img/sprites/sprites-icons-sprite-medium.png");
}
%sprites-bg-png {
	@include sprites-bg-png();
}
@mixin sprites-github() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 46px;
	height: 36px;
	background-position: 0 0;

	.no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-github {
	@include sprites-github();
}

@mixin sprites-twitter() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 39px;
	height: 31px;
	background-position: -55px 0;

	.no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-twitter {
	@include sprites-twitter();
}

@mixin sprites-xiel-logo() {
	@extend %sprites-bg-size;
	@extend %sprites-bg-svg;
	width: 120px;
	height: 120px;
	background-position: -100px 0;
	
	.no-svg & {
		@extend %sprites-bg-png;
	}
}

%sprites-xiel-logo {
	@include sprites-xiel-logo();
}


