<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	
	{{> _global/_metadata }}
	{{> _global/_styles }}
</head>

<body class="{{ bodyclass }}">
	
	<div class="wrapper">
		{{{ body }}}
	</div>
	
	<div class="grid">
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
		<div class="grid__col"><div class="grid__inner"></div></div>
	</div>
	
	{{> _global/_scripts }}
</body>
</html>