<!DOCTYPE html>
<html lang="de" class="no-js">
<head>
	{{> _global/head_assets }}
</head>

<body class="{{ bodyclass }}">
	
	<div class="wrapper">
		{{{ body }}}
	</div>
	
	{{!-- <div class="grid">
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
		<div class="grid__col flx--1°xs"><div class="grid__inner"></div></div>
	</div> --}}
	
	{{> _global/body_assets }}
</body>
</html>