/* ===================================================
BASE
=================================================== */

* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
		outline: 0 none;
		box-shadow: none;
	}
}

// Remove tap highlight on iOS
input,
textarea,
button,
select,
label,
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
	font-size: 62.5%;
	line-height: 1.4;

	@media (max-width: $screen-md-max) {
		font-size: 60%;
	}

	@media (max-width: $screen-sm-max) {
		font-size: 55%;
	}

	@media (max-width: $screen-xs-max) {
		font-size: 51%;
		
		input, textarea {
			font-size: 16px;
		}
	}
}

::-moz-selection {
	background: #d2d2ce;
	color: #111;
	text-shadow: none;
}

::selection {
	background: #d2d2ce;
	color: #111;
	text-shadow: none;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

iframe {
	display: block;
	width: 100%;
	height: auto;
	margin: 1.45em 0;
	border: 2px solid;
}

body {
	position: relative;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	color: $color-text-default;
	background: #fff;
	font-size: 17px;
	font-size: 1.7rem;
	font-weight: 300; //light
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ===================================================
GENERAL TEXT
=================================================== */

%small-font {
	font-size: 14px;
	font-size: 1.4rem;

	@media (max-width: $screen-xs-max) {
		font-size: 12px;
	}
}

%text-link {
	color: $color-key-cyan;
	border-bottom: 2px solid $color-text-lighter;

	&:hover,
	&:focus {
		color: $color-key-cyan-dark;
	}
}

a {
	color: inherit;
	text-decoration: none;
	transition: 200ms;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p, li {
	line-height: 1.45;

	&:first-child {
		margin-top: 0;
	}
}

em {
	font-style: normal;
}

h2, h3, h4, h5 {
	margin: 2em 0 0.75em;
	line-height: 1.2;
	font-weight: 400;

	&:first-child {
		margin-top: 0;
	}

	+ p, + ul {
		margin-top: 0;
	}
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 2.5rem;
	font-weight: 100; //thin
}

h4 {
	@extend %small-font;
	letter-spacing: .06em;
	text-transform: uppercase;
	font-weight: 500;
}

.section__header {
	text-align: center;
	margin: 0 auto 6rem;
	max-width: 64rem;

	h2, p {
		margin-bottom: .25em;
	}

	h2 {
		position: relative;
		margin-top: 0;
		font-weight: 500;
		letter-spacing: -.03em;
		
		//kicker
		em {
			position: absolute;
			width: 100%;
			left: 0;
			font-size: 1.4rem;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: .05em;
			bottom: 100%;
			opacity: .75;
		}
	}

	p {
		font-weight: 300; //light

		span {
			display: block;
		}
	}
}

.upper {
	text-transform: uppercase;
}

.text-list {
	margin: 0 0 1em;

	li {
		position: relative;
		margin: 0 0 .125em;
		padding-left: .9em;


		&:before {
			@extend %pseudo;
			@extend %icon-listitem-dark;
			top: .43em;
			left: 0;
			width: .7em;
			height: .7em;
			background-size: contain;
			background-position: center bottom;
		}
	}
}

/* ===================================================
GENERAL LAYOUT
=================================================== */

.wrapper {
	overflow: hidden;
}

.section {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 4% 0;
}

.container {
	padding: 0 4rem;
	width: 100%;
	max-width: $content-container-max;
	margin: 2rem auto;

	@media (max-width: $screen-md-max) {
		padding: 0 2rem;
	}
}


/* ===================================================
Social Media Links
=================================================== */

.sm-links {
	list-style: none;

	li {
		display: inline-block;
		font-size: 1.2rem;
		text-align: center;
		white-space: nowrap;
		margin: 0 1.5em 0 0;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		opacity: .8;

		&:before {
			display: block;
			margin: 0 auto .75em;
			content: ' ';
			width: 5.2rem;
			height: 5rem;
			background-size: contain;
		}

		&:focus,
		&:hover {
			opacity: 1;
		}
	}
}

.sm-link {
	// @extend %ir;
	display: inline-block;
}

.sm-link--twitter {
	&:before {
		@extend %icon-twitter;
	}
}

.sm-link--github {
	&:before {
		@extend %icon-github;
	}
}

.sm-link--dribbble {
	&:before {
		@extend %icon-dribbble;
	}
}

.sm-link--flickr {
	&:before {
		@extend %icon-flickr;
	}
}

.sm-link--instagram {
	&:before {
		@extend %icon-instagram;
	}
}